<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${@siteSettings.getFullname()}"></title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}"/>


    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/search.css}"/>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>

    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/search.js}"></script>

</head>

<body>
    <div th:replace="fragments/header">...</div>
    <div class="container p-4">

        <div th:replace="fragments/title :: title(title='Management', subtitle='Search')" th:remove="tag">...</div>
        <div class="main-content p-4">
            <div class="d-flex w-100 isearch-settings" th:if="${@applicationSettings.getIsearch().isEnabled()}">
                <span class="col-12">
                    <label>
                        <input type="checkbox" id="iSearch" name="iSearch" value="1"
                               th:checked="${@applicationSettings.getIsearch().isDefaultOn()}"/>
                        <input type="hidden" id="iSearchOff" name="iSearch" value="0"/>
                        <span class="label-text">International search</span>
                    </label>
                </span>
            </div>
            <form>
                <div class="form-group row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                        <input type="text" class="form-control" name="nameLike" placeholder="Part of researcher name"/>
                    </div>
                </div>
            </form>
            <form>
                <div class="form-group row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                        <input type="text" class="form-control" name="descriptionLike" placeholder="Keyword in research description"/>
                    </div>
                </div>
            </form>
            <form class="d-none">
                <div class="form-group row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                        <input type="text" class="form-control" name="symbolLike" placeholder="Part of symbol"/>
                        <select name="taxonId" class="custom-select">
                            <th:block th:each="taxon : ${@taxonService.findByActiveTrue()}">
                                <option th:value="${taxon.id}" th:text="${#strings.capitalizeWords(taxon.commonName)}" th:selected="${taxon.id == 9606}"></option>
                            </th:block>
                        </select>
                        <select name="tier" class="custom-select">
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <option th:each="tier : ${T(ubc.pavlab.rdp.model.enums.TierType).values()}"
                                    th:value="${tier}"
                                    th:text="${tier}"
                                    th:selected="${tier == T(ubc.pavlab.rdp.model.enums.TierType).ANY}">
                            </option>
                        </select>
                    </div>
                </div>
            </form>
            <form>
                <div class="form-group row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                        <input type="text" class="form-control gene-autocomplete" name="symbol" placeholder="Symbol"/>
                        <select name="taxonId" class="custom-select">
                            <th:block th:each="taxon : ${@taxonService.findByActiveTrue()}">
                                <option th:value="${taxon.id}" th:text="${#strings.capitalizeWords(taxon.commonName)}" th:selected="${taxon.id == 9606}"></option>
                            </th:block>
                        </select>
                        <select name="tier" class="custom-select">
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <option th:each="tier : ${T(ubc.pavlab.rdp.model.enums.TierType).values()}"
                                    th:value="${tier}"
                                    th:text="${tier}"
                                    th:selected="${tier == T(ubc.pavlab.rdp.model.enums.TierType).ANY}">
                            </option>
                        </select>
                    </div>
                </div>
            </form>
            <div id="userTable">
                <div th:if="${errorMessage != null}" th:replace="fragments/error :: message" th:remove="tag">...</div>
                <div th:if="${users != null}" th:replace="fragments/user-table :: user-table(users=${users})" th:remove="tag">...</div>
            </div>
            <!--<div th:replace="fragments/user-table :: user-table(users=${@userService.findAll()})" th:remove="tag">...</div>-->
            <!--<div th:if="${users != null}" th:replace="fragments/user-table :: user-table(users=${users})" th:remove="tag">...</div>-->
        </div>

    </div>
    <div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>