<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="layouts/common::head(title='Admin')">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="layouts/common::header"></div>
<div class="container py-3">
    <div th:replace="layouts/common::title(title='Create Service Account')"></div>
    <div th:replace="layouts/common::message"></div>
    <div class="row">
        <div class="col-md-8">
            <p>Service accounts allow external application to connect to your application.</p>
            <form th:action="@{/admin/create-service-account}"
                  th:object="${user}"
                  method="post">
                <div class="form-group form-row">
                    <label th:for="${#ids.next('profile.name')}" class="col-form-label col-md-4">
                        Service Account Name
                    </label>
                    <div class="col-md-8">
                        <input th:field="*{profile.name}"
                               type="text" class="form-control"
                               th:classappend="${#fields.hasErrors('profile.name')} ? 'is-invalid'"/>
                        <div th:errors="*{profile.name}" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label th:for="${#ids.next('email')}" class="col-form-label col-md-4">Email</label>
                    <div class="input-group col-md-8">
                        <input th:field="*{email}"
                               type="text"
                               class="form-control"
                               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"/>
                        <div class="input-group-append">
                            <span class="input-group-text">
                            @<span th:text="${@siteSettings.hostUri.host}"></span>
                            </span>
                        </div>
                        <div th:errors="*{email}" class="invalid-feedback"></div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Create Service Account</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="layouts/common::scripts"></div>
</body>
</html>