<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="layouts/common::head(title='Admin')">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="layouts/common::header"></div>
<div class="container py-3">
    <div th:replace="layouts/common::title(title='Ontologies', subtitle='Manage ontologies')"></div>
    <div th:replace="layouts/common::message"></div>
    <div class="card mb-3">
        <div class="card-body border-bottom">
            <div class="row mb-3">
                <div class="col-8 border-right">
                    <h2>Import Ontology</h2>
                    <p>
                        Import an ontology from an URL or a file represented in the OBO format. If imported via an URL,
                        periodic update of the terms will also be activated.
                    </p>
                    <form th:object="${importOntologyForm}"
                          th:action="@{/admin/ontologies/import}"
                          method="post" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col-6">
                                <div class="form-group mb-0">
                                    <label>Import from URL</label>
                                    <input th:field="*{ontologyUrl}"
                                           class="form-control" type="url" placeholder="http://purl.obo.org/"
                                           th:errorclass="is-invalid"/>
                                    <div class="invalid-feedback" th:errors="*{ontologyUrl}"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-0">
                                    <label>Import from file</label>
                                    <input th:field="*{ontologyFile}" type="file" class="form-control-file"
                                           th:errorclass="is-invalid"/>
                                    <!-- The version of Bootstrap 4 that we are using has a bug, so we need to set d-block: https://github.com/twbs/bootstrap/issues/24831 -->
                                    <div class="invalid-feedback d-block" th:errors="*{ontologyFile}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <small th:errors="${importOntologyForm}" class="text-danger"></small>
                            </div>
                        </div>
                        <div class="form-row my-3">
                            <div class="col">
                                <button class="btn btn-primary import-ontology-btn" type="submit">
                                    <span class="spinner d-none"></span>
                                    <i class="oi oi-cloud-download"></i>
                                    Import Ontology
                                </button>
                            </div>
                        </div>
                    </form>
                    <p>
                        If you have custom messages for your ontologies in <code>messages.properties</code>, you can
                        reload them without restarting RDP.
                    </p>
                    <form th:action="@{/admin/refresh-messages}" method="post">
                        <button class="btn btn-primary">
                            <i class="oi oi-reload"></i>
                            Refresh Messages
                        </button>
                    </form>
                </div>
                <div class="col-4">
                    <h2>Stubs</h2>
                    <form th:action="@{/admin/ontologies/create-stubs}" method="post">
                        <p>RDP provides stubbed ontologies for tumor tissues, research models and research technologies
                            that can be setup.</p>
                        <th:block th:if="${@ontologyStubService.findAllOntologyStubs().size() lt 3}">
                            <p class="text-warning">Careful here because this action is not reversible!</p>
                            <button class="btn btn-warning" type="submit">
                                <span class="spinner d-none"></span>
                                Create and activate stubs
                            </button>
                        </th:block>
                        <p th:if="${@ontologyStubService.findAllOntologyStubs().size() eq 3}"
                           class="text-success">
                            Stubs are already setup.
                        </p>
                    </form>
                    <div th:with="reactome=${@reactomeService.findPathwaysOntology()}">
                        <h2>Reactome Pathways</h2>
                        <p>RDP provides capability of importing Reactome pathways.</p>
                        <p th:if="${reactome} != null" class="text-success">
                            Reactome is already setup.
                            <a th:href="@{/admin/ontologies/{ontologyId}(ontologyId=${reactome.id})}">View Reactome</a>
                        </p>
                        <form th:action="${reactome} != null ? @{/admin/ontologies/{ontologyId}/update-reactome-pathways(ontologyId=${reactome.id})} : @{/admin/ontologies/import-reactome-pathways}"
                              method="post">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">
                                    <i class="oi oi-cloud-download"></i>
                                    <span th:if="${reactome} != null">Update</span>
                                    <span th:if="${reactome} == null">Import</span>
                                    Reactome Pathways
                                </button>
                            </div>
                        </form>
                        <div th:if="${reactome} != null">
                            <div class="form-group">
                                <a th:href="@{/admin/ontologies/{ontologyId}/update-reactome-pathway-summations(ontologyId=${reactome.id})}"
                                   th:attr="data-reactome-ontology-id=${reactome.id}"
                                   class="btn btn-primary update-reactome-pathway-summations-btn">
                                    <i class="oi oi-cloud-download"></i>
                                    Update Reactome Pathways Summations
                                </a>
                                <div>
                                    <small class="progress-feedback"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h2 class="mb-0">Create Simple Ontology</h2>
            <p>As an alternative to the OBO format, you may also manage small ontologies by hand.</p>
            <div th:replace="fragments/ontology::simple-ontology-form(ontology = null, simpleOntologyForm = ${simpleOntologyForm})"></div>
        </div>
    </div>
    <div class="row">
        <div th:each="ontology : ${@ontologyService.findAllOntologiesIncludingInactive()}"
             class="col-sm-6 col-xl-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h3 th:text="${#messages.msgOrNull('rdp.ontologies.' + ontology.name + '.title') ?: ontology.name}"></h3>
                    <div>
                        <span th:if="${ontology.active}" class="badge badge-success">active</span>
                        <span th:unless="${ontology.active}" class="badge badge-secondary">inactive</span>
                        <span class="badge badge-info"><span th:text="${ontology.terms.size()}"></span> terms</span>
                    </div>
                    <form th:unless="${ontology.active}"
                          th:action="@{/admin/ontologies/{ontologyId}/activate(ontologyId=${ontology.id})}"
                          method="post"
                          enctype="application/x-www-form-urlencoded">
                    </form>
                </div>
                <div class="card-body">
                    <a th:href="@{/admin/ontologies/{ontologyId}(ontologyId=${ontology.id})}"
                       class="btn btn-primary">
                        View
                        <span th:text="${#messages.msgOrNull('rdp.ontologies.' + ontology.name + '.title') ?: ontology.name}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layouts/common::footer"></div>
<div th:replace="layouts/common::scripts"></div>
<script th:src="@{/js/ontology.js}"></script>
</body>
</html>