<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" th:content="#{rdp.site.welcome-public(#{'rdp.site.shortname'})}"/>
    <meta name="theme-color" th:content="${@siteSettings.themeColor}"/>
    <title th:text="#{rdp.site.fullname}"></title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}"/>
    <script th:inline="javascript">
        // noinspection JSUnusedGlobalSymbols
        var contextPath = [[${#httpServletRequest.contextPath}]];
    </script>
    <script th:src="@{/dist/common.bundle.js}"></script>
    <script sec:authorize="hasRole('ROLE_ADMIN')" th:src="@{/dist/admin.bundle.js}"></script>
</head>
<body>
<th:block th:fragment="header">
    <nav th:style="'background-image:url(\'' + @{/images/header.jpg} + '\'); background-size: cover;'"
         class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <!--suppress HtmlUnknownAnchorTarget -->
            <a class="navbar-brand sr-only sr-only-focusable mr-3" href="#main-content">Skip to main content</a>

            <a class="navbar-brand" th:href="@{/user/home}" href="/">
                <div th:utext="#{rdp.site.logohtml}" th:remove="tag"></div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul sec:authorize="isAuthenticated()"
                    class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/home}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/profile}" href="/user/profile">Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <!--suppress HtmlUnknownTarget -->
                        <a class="nav-link dropdown-toggle" id="navbarDropdownModel"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Model Organisms</a>
                        <div th:replace="fragments/taxon::taxon-dropdown-menu"
                             aria-labelledby="navbarDropdownModel"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/documentation}"
                           href="/user/documentation">Documentation</a>
                    </li>
                    <li th:if="${@applicationSettings.faqFile}" class="nav-item">
                        <a class="nav-link" th:href="@{/user/faq}" href="/user/faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/support}" href="/user/support">Contact</a>
                    </li>
                    <li sec:authorize="hasPermission(null, 'search')"
                        class="nav-item">
                        <a class="nav-link" th:href="@{/search}" href="/search">Search</a>
                    </li>
                </ul>
                <ul sec:authorize="!isAuthenticated()"
                    class="navbar-nav mr-auto"></ul>
                <ul class="navbar-nav">
                    <li sec:authorize="isAuthenticated()"
                        class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownUser" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span th:text="${@userService.currentUserName}"/>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/admin/users}" class="dropdown-item">View Users</a>
                                <a th:href="@{/admin/ontologies}" class="dropdown-item">Manage Profile Categories</a>
                                <a th:href="@{/admin/create-service-account}" class="dropdown-item">Create Service
                                    Account</a>
                                <a id="refresh-messages" href="#"
                                   class="dropdown-item">
                                    Refresh Messages
                                </a>
                            </th:block>
                            <a th:if="${#messages.msgOrNull('rdp.terms-of-service')} != null"
                               th:href="@{/terms-of-service}"
                               class="dropdown-item">Terms of Service</a>
                            <a th:if="${#messages.msgOrNull('rdp.privacy-policy')} != null"
                               th:href="@{/privacy-policy}"
                               class="dropdown-item">Privacy Policy</a>
                            <a class="dropdown-item" th:href="@{/user/password}" href="/user/password">Change
                                Password</a>
                            <a class="dropdown-item" th:href="@{/logout}" href="/logout">Logout</a>
                        </div>
                    </li>
                    <li sec:authorize="!isAuthenticated()"
                        class="nav-item">
                        <a class="nav-link" th:href="@{/login}" href="/login">Login &amp; Registration</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- TODO: show this in development mode -->
    <div th:if="${@environment.acceptsProfiles('staging', 'dev')}" id="staging-banner"
         class="alert alert-warning sticky-top text-center mb-0">
        This version of the <span th:text="#{'rdp.site.shortname'}"></span> registry is <b>staging</b>. Do not provide
        sensitive data.
    </div>
</th:block>
<div th:fragment="title(title,subtitle,nomargin)"
     class="d-flex align-items-center"
     th:classappend="${nomargin} ? 'mb-0' : 'mb-3'">
    <h1 class="mb-0"
        th:classappend="${subtitle} != null ? 'mr-3 pr-3 border-right' : ''"
        th:text="${title}">...</h1>
    <p th:if="${subtitle}"
       th:text="${subtitle}"
       class="mb-0">...</p>
</div>
<!-- display a single message -->
<div th:fragment="message"
     th:if="${message}"
     th:utext="${message}"
     id="default-message"
     class="alert"
     th:classappend="${error} ? 'alert-danger' : 'alert-info'"
     th:attrappend="role=${error} ? 'alert' : null">
    ...
</div>
<!-- display multiple messages, including the default message from ::message -->
<div th:fragment="messages" id="messages">
    <div th:replace="::message"></div>
</div>
<footer th:fragment="footer" class="footer text-center py-3">
    <span class="text-muted d-inline-block">
        &copy; Copyright 2018-<span th:text="${#temporals.year(#temporals.createNow())}"></span>.
        &quot;<span th:text="#{'rdp.site.fullname'}"></span>&quot;
        All rights reserved.
    </span>
    <a sec:authorize="isAuthenticated()" class="d-inline-block" th:href="@{/user/support}">Contact Support</a>
    <a sec:authorize="!isAuthenticated()" class="d-inline-block" th:href="${'mailto:' + @siteSettings.contactEmail}">Contact
        Support</a>
</footer>
<th:block th:fragment="scripts">
    <script sec:authorize="isAuthenticated()" th:src="@{/dist/activity-monitor.bundle.js}"></script>
    <th:block th:unless="${#strings.isEmpty(@siteSettings.gaTracker)}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script th:src="@{https://www.googletagmanager.com/gtag/js(id=${@siteSettings.gaTracker})}"></script>
        <script th:inline="javascript">
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', [[${@siteSettings.gaTracker}]]);
        </script>
    </th:block>
</th:block>
</body>
</html>