<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" th:content="${description} ?: #{rdp.site.welcome-public(#{rdp.site.shortname})}"/>
    <title th:text="${title} ? ${title} + ' - ' + #{rdp.site.fullname} : #{rdp.site.fullname}"></title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"/>
    <link rel="stylesheet"
          crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"/>
    <link rel="stylesheet"
          crossorigin="anonymous"
          href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet"
          crossorigin="anonymous"
          href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
</head>
<body>
<nav th:fragment="header" th:style="'background-image:url(\'' + @{/images/header.jpg} + '\'); background-size: cover;'"
     class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" th:href="@{/user/home}" href="/">
            <div th:utext="#{rdp.site.logohtml}" th:remove="tag"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul sec:authorize="isAuthenticated()"
                class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/home}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/profile}" href="/user/profile">Profile</a>
                </li>
                <li class="nav-item dropdown">
                    <!--suppress HtmlUnknownTarget -->
                    <a class="nav-link dropdown-toggle" href="/user/model" id="navbarDropdownModel" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Model Organisms</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownModel">
                        <a th:each="taxon : ${@taxonService.findByActiveTrue()}"
                           class="dropdown-item text-capitalize"
                           th:href="@{/user/model/{taxonId}(taxonId=${taxon.id})}"
                           th:classappend="${@userService.findCurrentUser()?.hasTaxon(taxon)} ? 'hastaxon' : ''">
                            <span th:text="${taxon.commonName}"></span>
                            <span th:if="${taxon.id} == 9606"> / other</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/documentation}" href="/user/documentation">Documentation</a>
                </li>
                <li th:if="${@applicationSettings.faqFile}" class="nav-item">
                    <a class="nav-link" th:href="@{/user/faq}" href="/user/faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/support}" href="/user/support">Contact</a>
                </li>
                <li sec:authorize="hasPermission(null, 'search')"
                    class="nav-item">
                    <a class="nav-link" th:href="@{/search}" href="/search">Search</a>
                </li>
            </ul>
            <ul sec:authorize="!isAuthenticated()"
                class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li sec:authorize="isAuthenticated()"
                    class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span th:text="${@userService.currentUserName}"/>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{/admin/users}" class="dropdown-item">View Users</a>
                            <a th:href="@{/admin/create-service-account}" class="dropdown-item">Create Service Account</a>
                        </th:block>
                        <a class="dropdown-item" th:href="@{/user/password}" href="/user/password">Change Password</a>
                        <a class="dropdown-item" th:href="@{/logout}" href="/logout">Logout</a>
                    </div>
                </li>
                <li sec:authorize="!isAuthenticated()"
                    class="nav-item">
                    <a class="nav-link" th:href="@{/login}" href="/login">Login &amp; Registration</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div th:fragment="title(title,subtitle)"
     class="row mb-3">
    <h1 class="border-right col-auto my-auto" th:text="${title}">...</h1>
    <p th:if="${subtitle}"
       th:text="${subtitle}"
       class="col-auto my-auto">...</p>
</div>
<div th:fragment="message"
     th:if="${message}"
     class="row mb-3">
    <div class="col-12">
        <div th:utext="${message}"
             class="alert mb-0"
             th:classappend="${error} ? 'alert-danger' : 'alert-info'">
            ...
        </div>
    </div>
</div>
<footer th:fragment="footer" class="footer text-center py-3">
    <span class="text-muted d-inline-block">
        &copy; Copyright 2018.
        &quot;<span th:text="#{rdp.site.fullname}"></span>&quot;
        All rights reserved.
    </span>
    <a class="d-inline-block" th:href="@{/user/support}" href="/user/support">Contact Support</a>
</footer>
<th:block th:fragment="scripts">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"
            crossorigin="=anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"
            crossorigin="=anonymous"></script>
    <script th:src="@{/js/common.js}"></script>
    <script sec:authorize="isAuthenticated()" th:src="@{/js/activity-monitor.js}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <th:block th:if="${@siteSettings.gaTracker}">
        <script th:src="@{https://www.googletagmanager.com/gtag/js(id=${@siteSettings.gaTracker})}"></script>
        <script th:inline="javascript">
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', [[${@siteSettings.gaTracker}]]);
        </script>
    </th:block>
</th:block>
</body>
</html>