<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="login-head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" th:content="${description} ?: #{rdp.site.welcome-public(#{rdp.site.shortname})}"/>
    <title th:text="${title} ? ${title} + ' - ' + #{rdp.site.fullname} : #{rdp.site.fullname}"></title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}"/>
    <script th:src="@{/dist/login.bundle.js}"></script>
</head>
<body>
<div th:fragment="message">
    <div th:if="${@environment.acceptsProfiles('staging')}"
         class="alert alert-warning text-center">
        This version of the <span th:text="#{rdp.site.shortname}"></span> registry is <b>staging</b>. Do not provide
        sensitive data.
    </div>
    <div th:if="${message}"
         class="row">
        <div class="col-10 offset-1">
            <div th:text="${message}"
                 class="alert"
                 th:classappend="${error} ? 'alert-danger' : 'alert-info'">
                ...
            </div>
        </div>
    </div>
</div>
<div th:fragment="actions">
    <div class="form-group row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div sec:authorize="isAuthenticated()"
                     class="col-6 text-center">
                    <a th:href="@{/login}">Return to my user profile</a>
                </div>
                <div sec:authorize="!isAuthenticated()"
                     class="col-6 text-center">
                    <a th:href="@{/login}">Return to login</a>
                </div>
                <div class="col-6 text-center">
                    <a th:href="${'mailto:' + @siteSettings.contactEmail}">Contact Support</a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:fragment="scripts">
</th:block>
</body>
</html>