Thank you for registering for the ${rdpname} as a model organism researcher. ($siteurl).

Please confirm your registration by clicking on the following link:

${confirmLink}

You will then be able to log in using the password you provided, and start filling in your profile.

If you have questions or difficulties with registration please feel free to contact us: ${contact}
