Hello ${name},

We recently received a request that you want to reset your password. In order to reset your password, please click the confirmation link below:

${confirmLink}

If you did not initiate this request, please disregard and delete this e-mail. Please note that this link will expire in 7 days.
