<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="layouts/common::head(title='Documentation')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>

<body>
<div th:replace="layouts/common::header">...</div>
<div class="container py-4">

    <div th:replace="layouts/common::title(title='Support', subtitle='Documentation')">...</div>

    <div class="main-content my-3">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="true">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="model-tab" data-toggle="tab" href="#model" role="tab"
                           aria-controls="model"
                           aria-selected="true">Model Organisms</a>
                    </li>
                    <li th:if="${@applicationSettings.privacy.registeredSearch}" class="nav-item">
                        <a class="nav-link" id="search-tab" data-toggle="tab" href="#search" role="tab"
                           aria-controls="search"
                           aria-selected="true">Search</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div id="profile-accordion">
                            <div class="card my-3">
                                <div class="card-header" id="profileinfo-heading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#profileinfo"
                                                aria-expanded="false" aria-controls="profileinfo">
                                            Fill out Profile information
                                        </button>
                                    </h5>
                                </div>

                                <div id="profileinfo" class="collapse" aria-labelledby="profileinfo-heading"
                                     data-parent="#profile-accordion">
                                    <div class="card-body">
                                        <h5>Basic Profile Information</h5>
                                        <p>
                                            On your <b><a th:href="@{/user/profile}">Profile</a></b>, use
                                            the edit [<i class="oi oi-pencil" style="color: orange;"></i>] functions to
                                            provide basic information:
                                        </p>
                                        <ul>
                                            <li>Name</li>
                                            <li>Organization</li>
                                            <li>Department</li>
                                        </ul>

                                        <p>Complete and accurate information is important to
                                            ensure we can contact you.</p>

                                        <h5>Additional Profile Information</h5>

                                        <p>You can also choose to provide:</p>
                                        <ul>
                                            <li>A link to your home page (e.g., your lab site)</li>
                                            <li th:unless="${@applicationSettings.profile.enabledResearcherCategories.isEmpty()}">
                                                Research categories that apply to you
                                            </li>
                                            <li>Contact email address that can be updated. The email address that was used to create the account is set as 
                                                  your user ID and cannot be modified. </li>
                                            <li>A phone number</li>
                                            <li>A summary of your research interests (we recommend 100-500 words)
                                            </li>
                                            <li>A list of PubMed IDs for your publications</li>
                                            
                                        </ul>

                                        <div th:if="${@applicationSettings.organs.enabled}" class="nav-item">
                                            <h5>Organ Systems</h5>
                                            <p>
                                                You may select a set of human organ systems that your research is most relevant to. This information can be used when 
                                                database searches are performed to select researches with expertize in certain organ systems. Selecting no organ systems 
                                                is equvalent to selecting all of them.  
                                            </p>
                                        </div>

                                        <div th:if="${@applicationSettings.privacy.isCustomizableLevel()}">
                                            <h5>Privacy Settings</h5>
                                            

                                            <p>Data Privacy Settings section lets you choose your global data sharing
                                                preferences.
                                                The default setting is pre-selected, but can be changed.
                                                The options are:
                                            </p>
                                            <ul>
                                                <li th:if="${@privacyService.isPrivacyLevelEnabled(T(ubc.pavlab.rdp.model.enums.PrivacyLevelType).PRIVATE)}">
                                                    <b>private</b> - your information will only be accessible by
                                                    Network administrators for matching you to a new rare disease gene
                                                    and considering you for funding opportunities.
                                                </li>
                                                <li th:if="${@privacyService.isPrivacyLevelEnabled(T(ubc.pavlab.rdp.model.enums.PrivacyLevelType).SHARED)}">
                                                    <b>shared</b> - your information will be accessible by other
                                                    researchers who are registered. Registered users will be able to
                                                    access your information through the  provided search interface.
                                                </li>
                                                <li th:if="${@privacyService.isPrivacyLevelEnabled(T(ubc.pavlab.rdp.model.enums.PrivacyLevelType).PUBLIC)}">
                                                    <b>public</b> - your information will be publicly accessible. If "shared" option is available, your
                                                    information will be shared with registered users and
                                                    will also be accessible to non-registered users through the registry’s
                                                    public search webpage (<i th:text=" ${@siteSettings.getHostUri()}"></i>).
                                                </li>
                                            </ul>
                                        </div>
                                        <p th:if="${@applicationSettings.getPrivacy().isCustomizableSharing()}">
                                            Furthermore, this section gives you the option to set your preference for
                                            sharing your data with the network’s partner registries for the purposes
                                            of establishing connections between clinician sciences who are submitting
                                            their rare disease genes to partner registries and Canadian model organism
                                            researchers. The data shared with partner registries will only be visible to
                                            the administrators of those registries. If your data privacy level is set to
                                            "public", partner registries will gain access automatically.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card my-3">
                                <div class="card-header" id="profilepubmed-heading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#profilepubmed"
                                                aria-expanded="false" aria-controls="profilepubmed">
                                            Finding PubMed IDs
                                        </button>
                                    </h5>
                                </div>

                                <div id="profilepubmed" class="collapse" aria-labelledby="profilepubmed-heading"
                                     data-parent="#profile-accordion">
                                    <div class="card-body">
                                        <p>
                                            To rapidly get a list of your PubMed IDs, in a new browser
                                            window use PubMed search (<a
                                                href="http://www.ncbi.nlm.nih.gov/pubmed/"
                                                target="_blank">http://www.ncbi.nlm.nih.gov/pubmed/</a>)
                                            to find your publications. The citations are returned 20
                                            per page by default, but you can change this by clicking
                                            on "Display settings" and choosing a different setting for
                                            "Items per page". You can select the publications you wish
                                            to use by clicking on the checkboxes; to save all your
                                            citations do not click any check boxes. After making a
                                            selection click on "Display settings"; select "PMID List"
                                            and click "Apply". Copy and paste the resulting list of
                                            numeric IDs into the field in the Profile.
                                        </p>
                                        <p>If your search returns a long list of publications
                                            and you would like to exclude only few of them click on
                                            "Send to", select Clipboard and click on "Add to
                                            Clipboard". In the top-right corner there will be a link
                                            to items in the Clipboard. Within the Clipboard you can
                                            remove any items you want and then export the PubMed IDs
                                            as described above.</p>
                                        <p>
                                            <b>Note</b>: Currently the PubMed IDs are for future use
                                            and are optional.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="model" role="tabpanel" aria-labelledby="model-tab">
                        <div id="model-accordion">
                            <div class="card my-3">
                                <div class="card-header" id="modelmanager-heading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#modelmanager"
                                                aria-expanded="false" aria-controls="modelmanager">
                                            Model Organism Tab
                                        </button>
                                    </h5>
                                </div>

                                <div id="modelmanager" class="collapse" aria-labelledby="modelmanager-heading"
                                     data-parent="#model-accordion">
                                    <div class="card-body">
                                        <p>
                                            After selecting a model organism in the drop-down menu, you can optionally
                                            enter
                                            a description of your research on this organism (Organism Research Focus),
                                            if you
                                            feel it is different from the description you may have provided in your
                                            <b><a th:href="@{/user/profile}">Profile</a></b> (About My Research).
                                        </p>

                                        <p>The most important functionality of this section is
                                            the addition of genes, and then of Gene Ontology terms.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card my-3">
                                <div class="card-header" id="modeladdgene-heading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#modeladdgene"
                                                aria-expanded="false" aria-controls="modeladdgene">
                                            Adding Genes
                                        </button>
                                    </h5>
                                </div>

                                <div id="modeladdgene" class="collapse" aria-labelledby="modeladdgene-heading"
                                     data-parent="#model-accordion">
                                    <div class="card-body">
                                        <p>The main goal of the registry is to collect an accurate
                                            and comprehensive list of the genes that you study or are
                                            able to study. Genes that you are entering directly into
                                            the system can be either Primary or Secondary
                                            (non-Primary).</p>

                                        <ul>
                                            <li><b>Primary genes</b> (Tier 1) are those you currently
                                                work on in a model organism. You must be able to
                                                immediately, specifically and rapidly study them in your
                                                laboratory. Genes you have recently published on are
                                                especially good Primary genes. We expect this to
                                                typically be between 1-10 genes.
                                            </li>
                                            <li><b>Secondary genes</b> (Tier 2) are those you do not
                                                mark as Primary. Carefully choose genes which you are
                                                not necessarily actively investigating, but would be able
                                                to work on rapidly and specifically with minimal set-up
                                                time. These might be paralogs of Tier 1 genes, or
                                                members of the same complexes or pathway. For most
                                                registrants we expect there might be between 1-100
                                                non-Primary genes entered.
                                            </li>
                                        </ul>

                                        <div th:if="${@applicationSettings.privacy.isCustomizableGeneLevel()}">
                                            <p>
                                                You may also choose a privacy levels for your genes that differ from
                                                the global privacy settings in your Profile. The new levels can only be more restrictive than your global privacy level.  options are:
                                            </p>
                                            <ul>
                                                <li th:if="${@privacyService.isGenePrivacyLevelEnabled(T(ubc.pavlab.rdp.model.enums.PrivacyLevelType).PRIVATE)}">
                                                    <b>private</b> - this gene will only be accessible by Network
                                                    administrators for matching you to a new rare disease gene and
                                                    considering you for funding opportunities.
                                                </li>
                                                <li th:if="${@privacyService.isGenePrivacyLevelEnabled(T(ubc.pavlab.rdp.model.enums.PrivacyLevelType).SHARED)}">
                                                    <b>shared</b> - this gene will be accessible by other researchers
                                                    who are registered. Registered users will be able to access your
                                                    information through the provided search interface.
                                                  </li>
                                            </ul>
                                            <p>
                                                Note that if you change the global privacy setting in your Profile, the genes will be
                                                updated to use the new value.
                                            </p>
                                        </div>

                                        <p>For more information, see the relevant <a
                                                th:href="@{/user/faq#genes}">FAQ</a></p>

                                        <p>In the input box below the table you may search genes one by one or type
                                            in a comma separated list of gene symbols. Add them by pressing the enter
                                            key or the "+" symbol.</p>
                                        <p>The added genes will appear at the bottom of the table. You can remove genes
                                            by clicking the red X on the desired row. You can also change the Primary
                                            status of genes using the checkbox.</p>

                                        <p>Finally, be sure to <b>Save</b>. If you navigate away from the page without
                                            doing so, you will be prompted to confirm.</p>

                                        <p>Also see relevant Frequently Asked Questions:</p>
                                        <ul>
                                            <li><a th:href="@{/user/faq#ortholog}">Should I fill in the human orthologs
                                                of genes
                                                I study?</a></li>
                                            <li><a th:href="@{/user/faq#genome}">I study the entire genome, or have the
                                                ability
                                                to assay the function of any gene. How do I select which genes I should
                                                list?</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card my-3">
                                <div class="card-header" id="modelterms-heading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#modelterms"
                                                aria-expanded="false" aria-controls="modelterms">
                                            Gene Ontology Terms
                                        </button>
                                    </h5>
                                </div>

                                <div id="modelterms" class="collapse" aria-labelledby="modelterms-heading"
                                     data-parent="#model-accordion">
                                    <div class="card-body">
                                        <p>
                                            Once you have added some genes, you can optionally
                                            provide some Gene Ontology (GO) terms related to your
                                            work. Genes associated with the GO terms you select will
                                            be considered a "third Tier" of genes for possible use in
                                            identifying researchers who can study a particular gene.
                                            For more details about GO, please see <a href="http://geneontology.org/" target="_blank">geneontology.org</a>.
                                        </p>

                                        <p>To enter GO terms for an organism, click on the "Terms" tab on the Model
                                            Organism Manager page. From here you may let us suggest terms for you or
                                            input terms manually using the input box below the table.</p>

                                        <p><b>Note:</b> You need to have at least two genes saved in order for us to
                                            succesfully recommend terms.</p>

                                        <p>Suggested GO terms will appear in a table (allow
                                            for a short delay especially if you have a lot of
                                            genes saved) that has the following columns:</p>

                                        <ul>
                                            <li>GO term full name</li>
                                            <li>GO Aspect, which indicates one of three
                                                domains from which the GO term originates (biological
                                                process (BP), molecular function (MF), cellular
                                                component (CC))
                                            </li>
                                            <li>Overlap, which indicates how many of your
                                                (Tier 1 and 2) genes are annotated with that term. Clicking this
                                                number will show which of your genes these are.
                                            </li>
                                            <li>Term Size, which indicates how many genes in
                                                the currently chosen model organism are annotated
                                                with that term and will be added as Tier 3 genes if
                                                the term is selected (excluding the genes
                                                that are already added as Tier 1 or 2)
                                            </li>
                                        </ul>

                                        <p>You may also manually search by GO
                                            ID, Name or description. Add them by pressing the enter
                                            key or the + symbol</p>

                                        <p><b>Note:</b> that terms who have more
                                            than 100 associated genes will not be
                                            available for addition to your Profile.</p>

                                        <p>
                                            Once again, don't forget to <b>Save</b>.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card my-3">
                                <div class="card-header" id="modeltermsuggest-heading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#modeltermsuggest"
                                                aria-expanded="false" aria-controls="modeltermsuggest">
                                            How does the Gene Ontology Term suggestion work?
                                        </button>
                                    </h5>
                                </div>

                                <div id="modeltermsuggest" class="collapse" aria-labelledby="modeltermsuggest-heading"
                                     data-parent="#model-accordion">
                                    <div class="card-body">
                                        <p>
                                            If you have already entered at least two genes, the
                                            system can suggest related GO terms for you. The system
                                            uses a very simple algorithm to do this. We look at GO
                                            terms shared by the genes you have entered. If a term has
                                            enough genes overlapping with your genes, it is
                                            considered a candidate. We then prune terms that are too
                                            big, too small or highly redundant with another candidate
                                            term. A selection of the top candidates is then provided.
                                            The full process is a little more involved than this,
                                            as it makes use of the structure of the GO hierarchy and
                                            several heuristics to provide useful results. Please <a
                                                th:href="@{/user/support}">Contact
                                            Us</a> if you would like more details.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${@applicationSettings.privacy.registeredSearch}" class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="model-tab">
                        <div class="card my-3">
                            <div class="card-header" id="searchmanager-heading">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                            data-target="#searchcrd"
                                            aria-expanded="false" aria-controls="modelcrd">
                                        Search
                                    </button>
                                </h5>
                            </div>
                            <div id="searchcrd" class="collapse" aria-labelledby="searchcrd-heading"
                                 data-parent="#search-accordion">
                                <div class="card-body">
                                    <p>
                                        The Search page allows you to browse or search for other registered users
                                        who chose to share their data by selecting "shared" or "public" data privacy
                                        setting. If "Include results from partner registries" option is selected,
                                        the registry will connect to remote registries of the RDMM partners and
                                        display/search their "public" users.
                                    </p>
                                    <p>
                                        There are two ways to search for users: using their name and Profile information
                                        ("Researcher" tab) or using gene search ("Gene" tab). In the "Researcher" tab
                                        you can search in the following ways:
                                    </p>
                                    <ul>
                                        <li>Click on letters of the alphabet to retrieve all users whose last name
                                            begins with that letter
                                        </li>
                                        <li>Enter one or more letters of the user's name in "Search by name" box
                                        </li>
                                        <li>Search for keywords in the user's research description</li>
                                    </ul>
                                    <h5>Search Researchers</h5>
                                    <p>
                                        After clicking on the Search button (or a letter of the alphabet) the list
                                        of results will be displayed at the bottom of the page. If "Include results from
                                        partner registries" is selected, the partner registries results will be
                                        displayed in a separate section with the indication from which registry the
                                        matches are coming from ("Origin"). Clicking on the "View User Profile" button
                                        will open a new tab with the user's Profile and gene information.
                                    </p>
                                    <h5>Search genes</h5>
                                    <p>
                                        The "Gene" tab allows you to search for registered users based on genes they
                                        study. Gene symbols are organism-specific and will be matched against the list
                                        of known gene symbols for the selected organism (selection made in a dropdown
                                        menu). If you want to search for a match using a human gene, but consider
                                        orthologs in other model organisms, you would use the secondary dropdown menu to
                                        indicate the preferred organism. The ortholog mapping is based on <a
                                            href="https://www.flyrnai.org/diopt"
                                            target="_blank">DIOPT</a> results, filtered for DIOPT score >5 and Rank =
                                        "high" or "moderate".
                                    </p>
                                    <div th:if="${@applicationSettings.organs.enabled}">
                                        <h5>Filter by Organ Systems</h5>
                                        <p>
                                            You can also filter the results of your search by organ systems to restrict
                                            them to the users for whom these systems are relevant. If nothing
                                            is selected no filtering is performed.
                                        </p>
                                    </div>
                                    <div th:if="${@applicationSettings.privacy.enableAnonymizedSearchResults}">
                                        <h5>Anonymous Results</h5>
                                        <p>
                                            If you lack permissions to see the matched researcher information (either their 
                                            global privacy level or gene privacy level are set to "private"), their name and 
                                            organization will not be displayed in the result table and the button on the left 
                                            will say "Request Access" instead of "View User Profile". Clicking this button will 
                                            take you to the a web form allowing to contact that user. The contacted researcher may choose to
                                            reply, in which case he/she will contact you via your contact email.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layouts/common::footer">...</div>
<div th:replace="layouts/common::scripts"></div>
</body>
</html>
