<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="layouts/common::head(title='FAQ')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>

<body>
<div th:replace="layouts/common::header">...</div>
<div class="container py-4">

    <div th:replace="layouts/common::title(title='Support', subtitle='FAQ')">...</div>

    <div class="main-content my-3">

        <nav id="main-nav" class="navbar navbar-light bg-light">
            <nav class="nav flex-column">
                <a th:each="question : ${@faqSettings.questions}" th:href="${'#' + question.key}"
                   th:text="${question.value}"></a>
            </nav>
        </nav>
        <div class="dropdown-divider"></div>
        <div>
            <div th:each="question : ${@faqSettings.questions}" class="card my-3">
                <div class="card-header">
                    <h4 th:id="${question.key}" th:text="${question.value}"></h4>
                </div>
                <div class="card-body">
                    <p th:utext="${@faqSettings.answers.get(question.key)}"></p>
                </div>
            </div>
        </div>

    </div>

</div>
<div th:replace="layouts/common::footer">...</div>
<div th:replace="layouts/common::scripts"></div>
</body>
</html>