<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="layouts/common::head(title='FAQ')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>

<body>
<div th:replace="layouts/common::header">...</div>
<div class="container py-4">

    <div th:replace="layouts/common::title(title='FAQ')">...</div>

    <main id="main-content">

        <nav id="main-nav" class="navbar navbar-light bg-light">
            <nav class="nav flex-column">
                <a th:each="key : ${@faqSettings.keys}" th:href="${'#' + key}"
                   th:text="${@messageSource.getMessage(@faqSettings.getResolvableQuestion(key), #locale)}"></a>
            </nav>
        </nav>
        <div class="dropdown-divider"></div>
        <div>
            <div th:each="key : ${@faqSettings.keys}" class="card my-3">
                <div class="card-header">
                    <h4 th:id="${key}"
                        th:text="${@messageSource.getMessage(@faqSettings.getResolvableQuestion(key), #locale)}">
                        class="mb-0"></h4>
                </div>
                <div class="card-body"
                     th:utext="${@messageSource.getMessage(@faqSettings.getResolvableAnswer(key), #locale)}">
                </div>
            </div>
        </div>

    </main>

</div>
<div th:replace="layouts/common::footer">...</div>
<div th:replace="layouts/common::scripts"></div>
</body>
</html>