<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/common::head">
    <title>...</title>
</head>

<body>
<div th:replace="fragments/header">...</div>
<div class="container py-4">


    <div th:replace="fragments/title :: title(title='Welcome', subtitle='Overview')" th:remove="tag">...</div>

    <div class="main-content my-3">

        <div th:utext="#{rdp.site.welcome}" th:remove="tag"/>

        <hr/>

        <p><i>The Registry software was developed by the
            <a href="http://pavlab.msl.ubc.ca/paul-pavlidis/" target="_blank">Pavlidis lab</a> at UBC</i></p>
    </div>

</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>