<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="layouts/common::head(title='Overview')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>

<body>
<div th:replace="layouts/common::header">...</div>
<div class="container py-4">

    <div th:replace="layouts/common::title(title='Welcome', subtitle='Overview')">...</div>

    <div class="main-content my-3">

        <div th:utext="#{rdp.site.welcome(#{rdp.site.shortname}, @{/user/profile}, @{/user/faq}, @{/user/documentation}, @{/user/support})}"
             th:remove="tag"></div>

        <hr/>

        <p><i>The Registry software was developed by the
            <a href="http://pavlab.msl.ubc.ca/paul-pavlidis/" target="_blank">Pavlidis lab</a> at UBC</i></p>
    </div>

</div>
<div th:replace="layouts/common::footer">...</div>
<div th:replace="layouts/common::scripts"></div>
</body>
</html>