<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${@siteSettings.getFullname()}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
 </head>

<body>
<div th:replace="fragments/header">...</div>
<div class="container p-4">


    <div th:replace="fragments/title :: title(title='Welcome', subtitle='Overview')" th:remove="tag">...</div>

    <div class="main-content p-4">
        <p>The <span th:text="${@siteSettings.getShortname()}" th:remove="tag"></span> registry collects information on
            model organism researchers and the specific genes they study. The registry is the mechanism by which the
            <span th:text="${@siteSettings.getShortname()}" th:remove="tag"></span> will find potential matches of
            model organism researchers to human rare disease researchers.
        </p>
        <p>
            The Registry collects two types of information. First, you will
            enter your basic contact information and some general information
            about your research (under "<a th:href="@{/user/profile}" href="/user/profile">Profile</a>"). Second, you will enter information about genes you
            study, for one or more model organisms ("<a th:href="@{/user/model}" href="/user/model">Model Organisms</a>"). Obtaining a correct and comprehensive list of
            genes is of key interest. In order to assist registrants in this
            regard we devised a three-tier gene model described. Please
            <a th:href="@{/user/help#modelorganisms}" href="/user/profile#modelorganisms">read carefully</a> before you start adding genes to your profile.
        </p>

        <p>
            All information in the Registry is <a th:href="@{/user/help#confidential}" href="/user/profile#confidential">confidential</a>
            and will only be
            used by the Network administration for matching you to rare
            disease research projects. Your information will <i>never</i> be
            shared with any third party (including other registered
            researchers) without your consent.
        </p>

        <p>
            <b>General help</b>: For many fields throughout the site, you
            will see an icon like this: <i class="fa fa-edit yellow-icon"></i>.
            Click on the icon to enable editing of the associated field. When
            you are done, click the icon again (which now looks like this: <i
                class="fa fa-check-square-o green-icon"></i>) to lock your
            edits.
        </p>

        <p>
            More specific help &amp; information can be found in the <a th:href="@{/user/help}" href="/user/help">help section and FAQ</a>.
        </p>
        <p>If you have any questions or concerns please <a th:href="@{/user/support}" href="/user/support">Contact Us</a></p>
        <hr/>

        <p><i>The <span th:text="${@siteSettings.getShortname()}" th:remove="tag"></span> Registry was developed by the
            <a href="http://pavlab.msl.ubc.ca/paul-pavlidis/" target="_blank">Pavlidis lab</a> at UBC</i></p>


    </div>


</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>