<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="layouts/common::head(title=${#strings.capitalizeWords(taxon.commonName)})">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>

<body>
<div th:replace="layouts/common::header">...</div>
<div class="container py-4">

    <div class="row">
        <div class="col-8">
            <div th:replace="layouts/common::title(title='Model Organisms', subtitle=${#strings.capitalizeWords(taxon.commonName + (taxon.id == 9606 ? ' / other' : ''))})">
                ...
            </div>
        </div>
        <div class="col-4 my-auto text-right">
            <button type="button" class="btn btn-primary btn-lg save-model" th:if="${viewOnly == null}">
                <i class="mx-2 d-none spinner"></i>
                Save
            </button>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center" th:if="${viewOnly != null}">
        <h3 class="d-inline-block pr-3 mr-3 mb-0" th:text="${user.email}"></h3>
    </div>

    <div class="main-content">

        <div class="alert alert-success alert-dismissible fade show success-row my-3"
             role="alert"
             style="display: none;">
            Model Saved!
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show error-row my-3" role="alert" style="display: none;">
            Error Saving Model!
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="row my-3">
            <div class="col">
                <div class="card research-info edit-container">
                    <div class="card-header d-flex align-items-center">
                        <i class="editable" th:if="${viewOnly == null}"/>
                        <h3 class="mb-0 d-inline-block">
                            <label th:for="${#ids.next('taxonDescriptions')}" class="mb-0">
                                Organism Research Focus
                            </label>
                        </h3>
                    </div>
                    <div class="p-2" style="height: 80px;">
                        <textarea th:id="${#ids.seq('taxonDescriptions')}"
                                  th:text="${user.taxonDescriptions.get(taxon)}"
                                  class="data-edit" name="description"
                                  disabled="disabled"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${@applicationSettings.privacy.isCustomizableLevel()} or ${@applicationSettings.privacy.isCustomizableSharing()} or ${@applicationSettings.privacy.isAllowHideGenelist()}"
             class="my-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Data Privacy</h3>
                    <p th:if="${@applicationSettings.privacy.isCustomizableLevel()}">
                        Your profile privacy level is set to <b
                            th:text="#{'PrivacyLevelType.' + ${user.effectivePrivacyLevel.name()}}"
                            style="text-transform: lowercase;"></b>,
                        which determines your default gene privacy level.<br/>
                    </p>
                    <p th:if="${@applicationSettings.privacy.isCustomizableGeneLevel()}">
                        Your can adjust privacy level for each gene individually, however you can only choose a more
                        restrictive value than what is set in your profile. You can change privacy settings for all of
                        your genes by changing your profile privacy setting.
                    </p>
                    <p th:if="(${user.effectivePrivacyLevel.ordinal()} gt 0) and ${@applicationSettings.privacy.isAllowHideGenelist()}">
                        Non-administrative users that can see your data
                        <b th:if="${user.profile.getHideGenelist()}">can not</b>
                        <b th:if="not ${user.profile.getHideGenelist()}">can</b>
                        see your gene and terms lists.
                    </p>
                    <p th:if="${@applicationSettings.isearch.isEnabled()} and ${@applicationSettings.privacy.isCustomizableSharing()}">
                        International sharing of your data is
                        <b th:if="${user.profile.shared}">enabled</b><b th:if="not ${user.profile.shared}">disabled</b>.
                    </p>
                    <hr/>
                    <p class="mb-0">
                        To change your settings, please see the <b>Data Privacy Settings</b> section in your
                        <a th:href="@{/user/profile#data-privacy-settings}">profile settings.</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="my-3">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="genes-tab" data-toggle="tab" href="#genes" role="tab"
                               aria-controls="profile" aria-selected="true">Genes</a>
                        </li>
                        <li th:if="${@tierService.isTierEnabled(T(ubc.pavlab.rdp.model.enums.TierType).TIER3)}"
                            class="nav-item">
                            <a class="nav-link" id="terms-tab" data-toggle="tab" href="#terms" role="tab"
                               aria-controls="model"
                               aria-selected="true">Terms</a>
                        </li>
                        <li th:if="${@tierService.isTierEnabled(T(ubc.pavlab.rdp.model.enums.TierType).TIER3)} and ${viewOnly == null}"
                            class="nav-item ml-auto">
                            <a href="#terms"
                               class="btn btn-primary btn-sm recommend-terms"
                               data-toggle="tooltip"
                               title="Recommend relevant gene ontology terms based the genes from your profile.">
                                <i class="mx-2 d-none spinner"></i>
                                <i class="oi oi-heart"></i>
                                Recommend Terms
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="genes" role="tabpanel"
                             aria-labelledby="genes-tab">
                            <div class="mb-3">
                                <div th:replace="fragments/gene-table::gene-table(genes=${user.getGenesByTaxonAndTier(taxon, T(ubc.pavlab.rdp.model.enums.TierType).MANUAL)}, defaultPrivacyLevel=${user.getEffectivePrivacyLevel()})">
                                    ...
                                </div>
                            </div>
                            <div class="input-group" th:if="${viewOnly == null}">
                                <div class="input-group-prepend" style="background: lightgrey;">
                                    <button class="btn btn-outline-secondary add-row text-success"
                                            type="button">
                                        <i class="mx-2 d-none spinner"></i>
                                        +
                                    </button>
                                </div>
                                <input type="text" class="form-control autocomplete"
                                       placeholder="ex. GRIN1, BRCA1, FOXP2"/>
                            </div>
                        </div>

                        <div th:if="${@tierService.isTierEnabled(T(ubc.pavlab.rdp.model.enums.TierType).TIER3)}"
                             class="tab-pane fade" id="terms" role="tabpanel" aria-labelledby="terms-tab">

                            <div class="alert recommend-message d-none" role="alert"></div>

                            <div class="row mb-3">
                                <div class="col">
                                    <div th:replace="fragments/term-table::term-table(userTerms=${user.getTermsByTaxon(taxon)})">
                                        ...
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="input-group" th:if="${viewOnly == null}">
                                        <div class="input-group-prepend" style="background: lightgrey;">
                                            <button class="btn btn-outline-secondary add-row text-success"
                                                    type="button">
                                                <i class="mx-2 d-none spinner"></i>
                                                +
                                            </button>
                                        </div>
                                        <input type="text" class="form-control autocomplete"
                                               placeholder="Search Terms"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="overlapModal" tabindex="-1" role="dialog" aria-labelledby="overlapModal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body pb-0">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="layouts/common::footer">...</div>

<div th:replace="layouts/common::scripts"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    // noinspection JSUnusedLocalSymbols used in model.js
    var currentTaxonId = [[${taxon.id}]];
    var userProfile = [[${user.profile}]];
    // TODO: serialize and use PrivacyLevelType instead of hardcoded values
    var PrivacyLevelType = [[${T(ubc.pavlab.rdp.model.enums.PrivacyLevelType).values()}]];
    var privacyLevels = {
        'PUBLIC': {'label': 'Public', 'ordinal': 2},
        'SHARED': {'label': 'Shared', 'ordinal': 1},
        'PRIVATE': {'label': 'Private', 'ordinal': 0}
    };
    var enabledGenePrivacyLevels = [[${@applicationSettings.privacy.enabledGeneLevels}]];
    var customizableGeneLevel = [[${@applicationSettings.privacy.customizableGeneLevel}]]
    var userPrivacyLevel = privacyLevels[userProfile.privacyLevel['$name']];
    /*]]>*/
</script>
<script th:src="@{/js/model.js}"></script>
</body>
</html>