<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${@siteSettings.getFullname()}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/model.css}"/>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>

    <script th:src="@{/js/common.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var currentTaxon = [[${taxon}]];

        /*]]>*/
    </script>
    <script th:src="@{/js/model.js}"></script>

</head>

<body>
<div th:replace="fragments/header">...</div>
<div class="container p-4">

    <div th:replace="fragments/title :: title(title='Model Organisms', subtitle=${#strings.capitalizeWords(taxon.commonName)})"
         th:remove="tag">...
    </div>

    <div class="d-flex align-items-center justify-content-center" th:if="${viewOnly != null}">
        <h3 class="d-inline-block pr-3 mr-3 mb-0" th:text="${user.email}"></h3>
    </div>


    <div class="main-content p-4">
        <div class="row justify-content-center success-row" style="display: none;">
            <div class="col my-3">
                <div class="alert alert-success alert-dismissible fade show" role="alert">Model Saved!
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center error-row" style="display: none;">
            <div class="col my-3">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">Error Saving Model!
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 mb-4">
                <button type="button" class="btn btn-primary btn-lg btn-block save-model" th:if="${viewOnly == null}"><i class="mx-2 d-none spinner"></i>Save</button>
            </div>
        </div>
        <div class="row">
            <div class="col my-3">
                <div class="card research-info edit-container">
                    <div class="card-header d-flex align-items-center">
                        <i class="editable" th:if="${viewOnly == null}"/>
                        <h3 class="mb-0 d-inline-block">Taxon Specific Research Description</h3>
                    </div>
                    <div class="p-2" style="height: 80px;">
                        <textarea class="data-edit" name="description" th:text="${user.taxonDescriptions.get(taxon)}" disabled="true"></textarea>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col my-3">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="genes-tab" data-toggle="tab" href="#genes" role="tab"
                                   aria-controls="profile" aria-selected="true">Genes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="terms-tab" data-toggle="tab" href="#terms" role="tab"
                                   aria-controls="model"
                                   aria-selected="true">Terms</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="genes" role="tabpanel"
                                 aria-labelledby="genes-tab">
                                <div th:replace="fragments/gene-table :: gene-table(genes=${user.getGenesByTaxonAndTier(taxon, T(ubc.pavlab.rdp.model.enums.TierType).MANUAL_TIERS)})"
                                     th:remove="tag">...
                                </div>
                            </div>
                            <div class="tab-pane fade" id="terms" role="tabpanel" aria-labelledby="terms-tab">
                                <div class="row justify-content-center" th:if="${viewOnly == null}">
                                    <div class="mb-3">
                                        <button type="button" class="btn btn-primary recommend-terms"><i class="mx-2 d-none spinner"></i>Recommend Terms</button>
                                    </div>
                                </div>

                                <div th:replace="fragments/term-table :: term-table(userTerms=${user.getTermsByTaxon(taxon)})"
                                     th:remove="tag">...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="overlapModal" tabindex="-1" role="dialog" aria-labelledby="overlapModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>