<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="layouts/common::head(title=${#strings.capitalizeWords(taxon.commonName)})">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>

<body>
<div th:replace="layouts/common::header">...</div>
<div class="container py-4">

    <div class="row">
        <div class="col-10">
            <div th:replace="layouts/common::title(title='Model Organisms', subtitle=${#strings.capitalizeWords(taxon.commonName)})"
                 th:remove="tag">...
            </div>
        </div>
        <div class="col-2 text-right">
            <button type="button" class="btn btn-primary btn-lg save-model" th:if="${viewOnly == null}">
                <i class="mx-2 d-none spinner"></i>
                Save
            </button>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center" th:if="${viewOnly != null}">
        <h3 class="d-inline-block pr-3 mr-3 mb-0" th:text="${user.email}"></h3>
    </div>

    <div class="main-content">

        <div class="alert alert-success alert-dismissible fade show success-row my-3" role="alert" style="display: none;">
            Model Saved!
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show error-row my-3" role="alert" style="display: none;">
            Error Saving Model!
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

            <div class="my-3">
                <div class="card research-info edit-container">
                    <div class="card-header d-flex align-items-center">
                        <i class="editable" th:if="${viewOnly == null}"/>
                        <h3 class="mb-0 d-inline-block">Organism Research Focus</h3>
                    </div>
                    <div class="p-2" style="height: 80px;">
                        <textarea class="data-edit" name="description" th:text="${user.taxonDescriptions.get(taxon)}" disabled="disabled"></textarea>
                    </div>
                </div>
            </div>

            <div class="my-3" th:if="${@applicationSettings.getPrivacy().isCustomizableLevel()} or ${@applicationSettings.getPrivacy().isCustomizableSharing()} or ${@applicationSettings.getPrivacy().isAllowHideGenelist()}">
                <div class="card">
                    <div class="card-header">
                        <h4>Data Privacy</h4>
                        <div th:if="${@applicationSettings.getPrivacy().isCustomizableLevel()}">
                            Profile privacy level is set to
                            <b th:text="${user.getEffectivePrivacyLevel().getLabel()}"></b>; your genes cannot be set at
                            a higher level.
                        </div>
                        <div th:if="(${user.getEffectivePrivacyLevel().ordinal()} gt 0) and ${@applicationSettings.getPrivacy().isAllowHideGenelist()}">
                            Non-administrative users that can see your data
                            <b th:if="${user.getProfile().getHideGenelist()}">can not</b>
                            <b th:if="not ${user.getProfile().getHideGenelist()}">can</b>
                            see your gene and terms lists.
                        </div>
                        <div th:if="${@applicationSettings.getIsearch().isEnabled()} and ${@applicationSettings.getPrivacy().isCustomizableSharing()}">
                            International sharing of your data is
                            <b th:if="${user.getProfile().getShared()}">enabled.</b>
                            <b th:if="not ${user.getProfile().getShared()}">disabled.</b>
                        </div>
                        <hr/>
                        <div>
                            To change your settings, please see the <b>Data Privacy Settings</b> section in your <a th:href="@{/user/profile#data-privacy-settings}">profile settings.</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-3">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="genes-tab" data-toggle="tab" href="#genes" role="tab"
                                   aria-controls="profile" aria-selected="true">Genes</a>
                            </li>
                            <li class="nav-item" th:if="${@tierService.isTierEnabled(T(ubc.pavlab.rdp.model.enums.TierType).TIER3)}">
                                <a class="nav-link" id="terms-tab" data-toggle="tab" href="#terms" role="tab"
                                   aria-controls="model"
                                   aria-selected="true">Terms</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="genes" role="tabpanel"
                                 aria-labelledby="genes-tab">
                                <div th:replace="fragments/gene-table :: gene-table(genes=${user.getGenesByTaxonAndTier(taxon, T(ubc.pavlab.rdp.model.enums.TierType).MANUAL)}, defaultPrivacyLevel=${user.getEffectivePrivacyLevel()})"
                                     th:remove="tag">...
                                </div>
                                <div class="input-group mt-2" th:if="${viewOnly == null}">
                                    <div class="input-group-prepend" style="background: lightgrey;">
                                        <button class="btn btn-outline-secondary reset-table text-danger d-none" type="button">-</button>
                                        <button class="btn btn-outline-secondary add-row text-success" type="button"><i class="mx-2 d-none spinner"></i>+</button>
                                    </div>
                                    <input type="text" class="form-control autocomplete"
                                           placeholder="ex. GRIN1, BRCA1, FOXP2"/>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="terms" role="tabpanel" aria-labelledby="terms-tab"
                                 th:if="${@tierService.isTierEnabled(T(ubc.pavlab.rdp.model.enums.TierType).TIER3)}">
                                <div class="row justify-content-center" th:if="${viewOnly == null}">
                                    <div class="mb-3">
                                        <button type="button" class="btn btn-primary recommend-terms"><i class="mx-2 d-none spinner"></i>Recommend Terms</button>
                                    </div>
                                </div>
                                <div class="row justify-content-center recommend-message" th:if="${viewOnly == null}">
                                </div>

                                <div th:replace="fragments/term-table :: term-table(userTerms=${user.getTermsByTaxon(taxon)})"
                                     th:remove="tag">...
                                </div>

                                <div class="input-group mt-2" th:if="${viewOnly == null}">
                                    <div class="input-group-prepend" style="background: lightgrey;">
                                        <button class="btn btn-outline-secondary reset-table text-danger d-none" type="button">-</button>
                                        <button class="btn btn-outline-secondary add-row text-success" type="button"><i class="mx-2 d-none spinner"></i>+</button>
                                    </div>
                                    <input type="text" class="form-control autocomplete"
                                           placeholder="Search Terms"/>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="modal fade" id="overlapModal" tabindex="-1" role="dialog" aria-labelledby="overlapModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body pb-0">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="layouts/common::footer">...</div>

<div th:replace="layouts/common::scripts"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    // noinspection JSUnusedLocalSymbols used in model.js
    var currentTaxon = [[${taxon}]];
    var userProfile = [[${user.profile}]];
    // TODO: serialize and use PrivacyLevelType instead of hardcoded values
    var PrivacyLevelType = [[${T(ubc.pavlab.rdp.model.enums.PrivacyLevelType).values()}]];
    var privacyLevels = {
        'PUBLIC': {'label': 'Public', 'ordinal': 2},
        'SHARED': {'label': 'Shared', 'ordinal': 1},
        'PRIVATE': {'label': 'Private', 'ordinal': 0}
    };
    var enabledGenePrivacyLevels = [[${@applicationSettings.privacy.enabledGeneLevels}]];
    var userPrivacyLevel = privacyLevels[userProfile.privacyLevel['$name']];
    /*]]>*/
</script>
<script th:src="@{/js/model.js}"></script>
</body>
</html>