<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="layouts/login::head(title='Change Password')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>

<body>
<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="container py-4">
        <h4 class="form-signin-heading"><a th:href="@{/login}" th:text="#{rdp.site.fullname}"></a></h4>
        <h6 class="form-signin-subheading">Researcher Registry</h6>
        <div class="row justify-content-center success-row" th:if="${message != null and message != ''}">
            <div class="col-md-10">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <span th:text="${message}"
                          th:remove="tag"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

        <form th:action="@{/user/password}" th:object="${passwordChange}" method="POST">
            <div class="form-group row">
                <div class="offset-md-1 col-md-10">
                    <label th:for="${#ids.next('oldPassword')}">Password</label>
                    <input type="password"
                           th:field="*{oldPassword}"
                           placeholder="Current Password"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('oldPassword')} ? 'is-invalid'"/>
                    <div th:if="${#fields.hasErrors('oldPassword')}"
                         th:errors="*{oldPassword}"
                         class="invalid-feedback"></div>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-md-1 col-md-10">
                    <label th:for="${#ids.next('newPassword')}">New Password</label>
                    <input type="password" th:field="*{newPassword}" placeholder="New Password" class="form-control"
                           th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid'"/>
                    <div th:if="${#fields.hasErrors('newPassword')}"
                         th:errors="*{newPassword}"
                         class="invalid-feedback"></div>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-md-1 col-md-10">
                    <label th:for="${#ids.next('passwordConfirm')}">Confirm New Password</label>
                    <input type="password" th:field="*{passwordConfirm}" placeholder="Confirm New Password"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('passwordConfirm')} ? 'is-invalid'"/>
                    <div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"
                         class="invalid-feedback"></div>
                </div>
            </div>


            <div class="form-group row">
                <div class="offset-md-1 col-md-4">
                    <button class="btn btn-primary btn-block" name="Submit" value="Update Password" type="Submit">
                        Update Password
                    </button>
                </div>
                <div class="col-md-5 d-flex align-items-center h100">
                    <a th:href="@{/forgotPassword}">Forgot Password?</a>
                </div>
            </div>

            <div th:replace="layouts/login::actions"></div>

        </form>
    </div>
</div>
<div th:replace="layouts/login::scripts"></div>
</body>
</html>