<!DOCTYPE html>
<!--suppress HtmlUnknownTarget css and js folders not recognised after build-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="layouts/common::head(title='Profile')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>

<body>
<div th:replace="layouts/common::header">...</div>
<div class="container py-4">

    <div class="row">
        <div class="col-8">
            <div th:replace="layouts/common::title(title='My Account', subtitle='User Profile')">...</div>
        </div>
        <div class="d-flex align-items-center justify-content-center" th:if="${viewOnly != null}">
            <h3 class="d-inline-block pr-3 mr-3 mb-0" th:text="${user.email}"></h3>
        </div>
        <div class="col-4 my-auto text-right" th:if="${viewOnly == null}">
            <button type="button" class="btn btn-primary btn-lg save-profile">
                <i class="mx-2 d-none spinner"></i>
                Save
            </button>
        </div>
    </div>

    <div class="main-content">
        <div class="alert alert-success alert-dismissible fade show success-row my-3" role="alert" style="display: none;">
            Profile Saved!
            <button type="button" class="close" id="saved-button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show error-row my-3" role="alert" style="display: none;">
            Error Saving Profile!
            <button type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="row my-3">
            <div class="col">
                <form class="card basic-info" method="post">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h3 class="mb-0">Basic Information</h3>
                        </div>
                    </div>
                    <table class="table mb-0">
                        <tr class="edit-container">
                            <td class="align-middle" style="width: 120px;"><span class="text-muted align-middle">First Name</span></td>
                            <td><i class="editable" th:if="${viewOnly == null}"/>
                                <input class="data-edit" type="text" name="name" th:value="${user.profile.name}" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Last Name</span></td>
                            <td><i class="editable" th:if="${viewOnly == null}"/>
                                <input class="data-edit" type="text" name="lastName" th:value="${user.profile.lastName}" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><label th:for="${#ids.next('researcherPosition')}" class="text-muted align-middle">Position</label></td>
                            <td>
                                <div th:replace="fragments/profile::researcher-position-selection(selectedResearcherPosition=${user.profile.researcherPosition})">
                                    ...
                                </div>
                            </td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Organization</span></td>
                            <td><i class="editable" th:if="${viewOnly == null}"/>
                                <input class="data-edit" type="text" name="organization" th:value="${user.profile.organization}" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Department</span></td>
                            <td><i class="editable" th:if="${viewOnly == null}"/>
                                <input class="data-edit" type="text" name="department" th:value="${user.profile.department}" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr th:unless="${@applicationSettings.profile.enabledResearcherCategories.isEmpty()}" class="edit-container">
                            <td class="align-middle"><label th:for="${#ids.next('researcherCategory')}" class="text-muted align-middle">Researcher Category</label></td>
                            <td>
                                <div th:replace="fragments/profile::researcher-category-selection(selectedResearcherCategory = ${user.profile.researcherCategory})">
                                ...
                                </div>
                            </td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Website</span></td>
                            <td><i class="editable" th:if="${viewOnly == null}"/>
                                <input class="data-edit" type="text" name="website" th:value="${user.profile.website}" disabled="disabled"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <div class="row my-3">
            <div class="col">
                <div class="card contact-info">
                    <div class="card-header">
                        <h3 class="mb-0">Contact Information</h3>
                    </div>
                    <table class="table mb-0">
                        <tr>
                            <td class="align-middle" style="width: 120px;"><span class="text-muted align-middle">Email</span></td>
                            <td><span th:text="${user.email}" th:remove="tag"></span></td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Phone</span></td>
                            <td><i class="editable" th:if="${viewOnly == null}"/>
                                <input class="data-edit" type="text" name="phone" th:value="${user.profile.phone}" disabled="disabled"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col">
                <div class="card research-info edit-container">
                    <div class="card-header d-flex align-items-center">
                        <i class="editable" th:if="${viewOnly == null}"/>
                        <h3 class="mb-0 d-inline-block">About My Research</h3>
                    </div>
                    <div class="p-2" style="height: 120px;">
                        <textarea class="data-edit" name="description" th:text="${user.profile.description}" disabled="disabled"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3"
             th:if="${@applicationSettings.organs.enabled}">
            <div class="col">
                <div class="card organs">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="mb-0 d-inline-block">Organ Systems</h3>
                    </div>
                    <div class="card-body">
                        <p>These settings let other users know which organ systems your research focuses on.</p>
                        <div th:replace="fragments/organ::organs-selection(checkedOrganUberonIds = ${user.userOrgans.keySet()})">
                        ...
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="w-100"
                 th:if="${@applicationSettings.getPrivacy().isCustomizableLevel()} or ${@applicationSettings.getPrivacy().isCustomizableSharing()} or ${@applicationSettings.getPrivacy().isAllowHideGenelist()}"></div>
            <div class="col"
                 th:if="${@applicationSettings.getPrivacy().isCustomizableLevel()} or ${@applicationSettings.getPrivacy().isCustomizableSharing()} or ${@applicationSettings.getPrivacy().isAllowHideGenelist()}">
                <div class="card privacy-settings edit-container">
                    <div class="card-header d-flex align-items-center">
                        <h3 id="data-privacy-settings" class="mb-0 d-inline-block">Data Privacy Settings</h3>
                    </div>
                    <div class="list-group list-group-flush">
                        <!-- TODO: also check if more than one option is available to display this section -->
                        <div id="privacy-levels" class="list-group-item"
                             th:if="${@applicationSettings.getPrivacy().isCustomizableLevel()}">
                            <h4>Privacy Level</h4>

                            <p>These settings determine how other users in the system can see your data.</p>

                            <h5>User Profile Privacy Level</h5>
                            <div class="form-group">
                                <div class="form-check-inline"
                                     th:each="privacyLevel : ${T(ubc.pavlab.rdp.model.enums.PrivacyLevelType).values()}"
                                     th:if="${@privacyService.isPrivacyLevelEnabled(privacyLevel)}">
                                    <input class="form-check-input" type="radio" name="privacyLevel"
                                           th:id="${'privacy-level-' + privacyLevel.label}"
                                           th:checked="${user.profile.privacyLevel == privacyLevel}"
                                           th:value="${privacyLevel.ordinal()}"/>
                                    <label class="form-check-label" th:for="${'privacy-level-' + privacyLevel.label}">
                                        <span th:text="${privacyLevel.label}"></span>
                                        <i class="tip oi oi-question-mark"
                                           data-ot-background="cornflowerblue"
                                           data-ot-border-color="white"
                                           data-ot-shadow-color="lightgray"
                                           th:attr="data-ot=${privacyLevel.description}"/>
                                    </label>
                                </div>
                            </div>

                            <p th:if="${@applicationSettings.getPrivacy().isCustomizableGeneLevel()}">
                                Your genes privacy levels are always capped by your profile privacy level.
                            </p>

                            Read more about these settings in the <a th:href="@{/user/faq#privacy-settings}" target="_blank">FAQ</a>.
                        </div>

                        <div id="privacy-sharing" class="list-group-item"
                             th:if="${@applicationSettings.getPrivacy().isCustomizableSharing()}">
                            <h4>Partner Registry</h4>
                            <p>These settings determine whether users from other instances can see your data.</p>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input id="privacy-sharing-checkbox" type="checkbox" class="form-check-input"
                                           th:checked="${user.profile.shared}"/>
                                    <label class="form-check-label" for="privacy-sharing-checkbox">
                                        Share my data with partner registries
                                        <i class="tip oi oi-question-mark"
                                           data-ot-background="cornflowerblue"
                                           data-ot-border-color="white"
                                           data-ot-shadow-color="lightgray"
                                           data-ot="Administrators of partner registries will be able to view your data">
                                        </i>
                                    </label>
                                </div>
                            </div>
                            Read more about these settings in the <a th:href="@{/user/faq#isearch}" target="_blank">FAQ</a>.
                        </div>
                        <div id="privacy-genelist" class="list-group-item"
                             th:if="${@applicationSettings.getPrivacy().isAllowHideGenelist()}">
                            <h5>Content displayed on my profile</h5>
                            <p>These settings determine which parts of your user profile are visible to other users.</p>
                            <div class="form-check form-check-inline">
                                <input id="privacy-genelist-checkbox" type="checkbox" class="form-check-input"
                                       th:checked="${user.profile.hideGenelist}"/>
                                <label class="form-check-label" for="privacy-genelist-checkbox">
                                    Hide my gene listing for non-administrative users
                                    <i class="tip oi oi-question-mark"
                                       data-ot-background="cornflowerblue"
                                       data-ot-border-color="white"
                                       data-ot-shadow-color="lightgray"
                                       data-ot="Hide your gene list when sharing your profile with others">
                                    </i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card publication-info my-3">
            <div class="card-header">
                <h3 class="mb-0">Publications</h3>
            </div>
            <table id="publication-table" class="table mb-0">
                <thead class=".thead-light">
                <tr>
                    <th scope="col">PubMed</th>
                    <th scope="col">Title</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="pub : ${user.profile.publications}">
                    <tr>
                        <td><i class="delete-row" th:if="${viewOnly == null}"/><span
                                th:text="${pub.pmid}"
                                th:remove="tag"></span>
                        </td>
                        <td><a th:href="${'https://www.ncbi.nlm.nih.gov/pubmed/' + pub.pmid}"
                               target="_blank"
                               th:text="${pub.title != ''} ? ${pub.title} : 'Unknown Title'"></a></td>
                    </tr>
                </th:block>
                </tbody>
                <tfoot th:if="${viewOnly == null}">
                <tr>
                    <td colspan="2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary add-row text-success"
                                        type="button">+
                                </button>
                            </div>
                            <input type="text" class="pub-input form-control"
                                   placeholder="PubMed Ids: 25363768, 25418537"/>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div th:replace="layouts/common::footer">...</div>
<div th:replace="layouts/common::scripts"></div>
<script th:src="@{/js/profile.js}"></script>
</body>
</html>
