<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${@siteSettings.getFullname()}"></title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>


    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"/>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>


    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/profile.js}"></script>

</head>

<body>
<div th:replace="fragments/header">...</div>
<div class="container p-4">

    <div th:replace="fragments/title :: title(title='My Account', subtitle='User Profile')" th:remove="tag">...</div>

    <div class="d-flex align-items-center justify-content-center" th:if="${viewOnly != null}">
        <h3 class="d-inline-block pr-3 mr-3 mb-0" th:text="${user.email}"></h3>
    </div>

    <div class="main-content p-4">
        <div class="row justify-content-center success-row" style="display: none;">
            <div class="col my-3">
                <div class="alert alert-success alert-dismissible fade show" role="alert">Profile Saved!
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center error-row" style="display: none;">
            <div class="col my-3">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">Error Saving Profile!
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" th:if="${viewOnly == null}">
            <div class="col-4 my-3">
                <button type="button" class="btn btn-primary btn-lg btn-block save-profile"><i class="mx-2 d-none spinner"></i>Save</button>
            </div>
        </div>
        <div class="row">
            <div class="col my-3">
                <div class="card basic-info">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h3 class="mb-0">Basic Information</h3>
                        </div>
                    </div>
                    <table class="table mb-0">
                        <tr class="edit-container">
                            <td class="align-middle" style="width: 120px;"><span class="text-muted align-middle">First Name</span></td>
                            <td><i class="editable" th:if="${viewOnly == null}"/>
                                <input class="data-edit" type="text" name="name" th:value="${user.profile.name}" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Last Name</span></td>
                            <td><i class="editable" th:if="${viewOnly == null}"/>
                                <input class="data-edit" type="text" name="lastName" th:value="${user.profile.lastName}" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Organization</span></td>
                            <td><i class="editable" th:if="${viewOnly == null}"/>
                                <input class="data-edit" type="text" name="organization" th:value="${user.profile.organization}" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Department</span></td>
                            <td><i class="editable" th:if="${viewOnly == null}"/>
                                <input class="data-edit" type="text" name="department" th:value="${user.profile.department}" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Website</span></td>
                            <td><i class="editable" th:if="${viewOnly == null}"/>
                                <input class="data-edit" type="text" name="website" th:value="${user.profile.website}" disabled="disabled"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col my-3">
                <div class="card contact-info">
                    <div class="card-header">
                        <h3 class="mb-0">Contact Information</h3>
                    </div>
                    <table class="table mb-0">
                        <tr>
                            <td class="align-middle" style="width: 120px;"><span class="text-muted align-middle">Email</span></td>
                            <td><span th:text="${user.email}" th:remove="tag"></span></td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Phone</span></td>
                            <td><i class="editable" th:if="${viewOnly == null}"/>
                                <input class="data-edit" type="text" name="phone" th:value="${user.profile.phone}" disabled="disabled"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="w-100"></div>

            <div class="col my-3">
                <div class="card research-info edit-container">
                    <div class="card-header d-flex align-items-center">
                        <i class="editable" th:if="${viewOnly == null}"/>
                        <h3 class="mb-0 d-inline-block">About My Research</h3>
                    </div>
                    <div class="p-2" style="height: 120px;">
                        <textarea class="data-edit" name="description" th:text="${user.profile.description}" disabled="disabled"></textarea>
                    </div>
                </div>
            </div>

            <div class="w-100" th:if="${@applicationSettings.getPrivacy().isCustomizableLevel()} or ${@applicationSettings.getPrivacy().isCustomizableSharing()} or ${@applicationSettings.getPrivacy().isAllowHideGenelist()}"></div>
            <div class="col my-3" th:if="${@applicationSettings.getPrivacy().isCustomizableLevel()} or ${@applicationSettings.getPrivacy().isCustomizableSharing()} or ${@applicationSettings.getPrivacy().isAllowHideGenelist()}">
                <div class="card privacy-settings edit-container">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="mb-0 d-inline-block">Data Privacy Settings</h3>
                    </div>
                    <div id="privacy-levels" class="d-flex w-100 p-2" th:if="${@applicationSettings.getPrivacy().isCustomizableLevel()}">
                        <span class="radio" th:if="${@applicationSettings.getPrivacy().getMinLevel() &lt; 1}">
                            <label><input id="privacyLevelPrivate" type="radio" name="privacy" th:checked="${user.profile.privacyLevel == 0}" value="0" title="Do not share your data with anyone except for the local match-making administrators."/>Private</label>
                        </span>
                        <span class="radio" th:if="${@applicationSettings.getPrivacy().getMinLevel() &lt; 2}">
                            <label><input id="privacyLevelRegistered" type="radio" name="privacy" th:checked="${user.profile.privacyLevel == 1}" value="1" title="Share your data with other users registered at this website."/>Registered users</label>
                        </span>
                        <span class="radio">
                            <label><input id="privacyLevelPublic" type="radio" name="privacy" th:checked="${user.profile.privacyLevel == 2}" value="2" title="Share with anyone."/>Public</label>
                        </span>
                    </div>
                    <hr th:if="${@applicationSettings.getPrivacy().isCustomizableLevel() == (@applicationSettings.getPrivacy().isCustomizableSharing() == true)}"/>
                    <div id="privacy-sharing" class="d-flex w-100 p-2 margin-chbox" th:if="${@applicationSettings.getPrivacy().isCustomizableSharing()}">
                        <div class="col-12">
                            <label class="form-check-label">
                                <input id="privacy-sharing-checkbox" type="checkbox" class="form-check-input" th:checked="${user.profile.shared}" title="Match-maker administrators of applications similar to this website will be able to query for your data. If you also set the privacy to 'public', anyone will be able to access your data through our public API."/>Include data in international search
                            </label>
                        </div>
                    </div>
                    <hr th:if="${@applicationSettings.getPrivacy().isAllowHideGenelist() == ((@applicationSettings.getPrivacy().isCustomizableLevel() || (@applicationSettings.getPrivacy().isCustomizableSharing()) == true))}"/>
                    <div id="privacy-genelist" class="d-flex w-100 p-2 margin-chbox" th:if="${@applicationSettings.getPrivacy().isAllowHideGenelist()}">
                        <div class="col-12">
                            <label class="form-check-label">
                                <input id="privacy-genelist-checkbox" type="checkbox" class="form-check-input" th:checked="${user.profile.hideGenelist}" title="Hide your gene list when sharing your profile with others."/>Hide genelist for non-administrative users
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-100"></div>

            <div class="col my-3">
                <div class="card publication-info">
                    <div class="card-header">
                        <h3 class="mb-0">Publications</h3>
                    </div>
                    <table id="publication-table" class="table mb-0">
                        <thead class=".thead-light">
                        <tr>
                            <th scope="col">PubMed</th>
                            <th scope="col">Title</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="pub : ${user.profile.publications}">
                            <tr>
                                <td><i class="delete-row" th:if="${viewOnly == null}"/><span th:text="${pub.pmid}" th:remove="tag"></span></td>
                                <td><a th:href="${'https://www.ncbi.nlm.nih.gov/pubmed/' + pub.pmid}" target="_blank" th:text="${pub.title != ''} ? ${pub.title} : 'Unknown Title'"></a></td>
                            </tr>
                        </th:block>
                        </tbody>
                        <tfoot th:if="${viewOnly == null}">
                        <tr>
                            <td colspan="2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary add-row text-success" type="button">+</button>
                                    </div>
                                    <input type="text" class="pub-input form-control" placeholder="PubMed Ids: 25363768, 25418537"/>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>