<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="layouts/common::head(title='Contact Us')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>

<body>
<div th:replace="layouts/common::header">...</div>
<div class="container py-4">

    <div th:replace="layouts/common::title(title='Support', subtitle='Contact Us')">...</div>

    <div class="main-content my-3">
        <div class="registry-support">
            <p class="mb-4"><a href="https://modelmatcher.net/Contact.html" target="_blank">Contact requests and support inquiries are handled on the main ModelMatcher page. Click here to send a message to the ModelMatcher team.</a></p>
            
        </div>
    </div>

</div>
<div th:replace="layouts/common::footer">...</div>
<div th:replace="layouts/common::scripts"></div>
</body>
</html>