<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<table th:id="${viewOnly == null} ? 'gene-table' : ''" class="gene-table table table-sm mb-0"
       th:fragment="gene-table (genes)">
    <thead class="thead-light">
    <tr>
        <th scope="col">Symbol</th>
        <th scope="col" style="display: none;" th:if="${viewOnly == null}">Id</th>
        <th scope="col">Name</th>
        <th class="text-center" scope="col" th:text="${viewOnly == null} ? 'Primary' : 'Tier'">Primary</th>
        <th class="text-center" scope="col">Privacy Level</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="gene : ${genes}">
        <tr>
            <td><span class="align-middle"><i th:if="${viewOnly == null}" class="delete-row align-middle"/><a
                    th:href="'https://www.ncbi.nlm.nih.gov/gene/' + ${gene.geneId}"
                    target="_blank" class="align-middle" th:text="${gene.symbol}"></a></span></td>
            <td style="display: none;" th:if="${viewOnly == null}"><span th:text="${gene.geneId}"
                                                                         th:remove="tag"></span></td>
            <td><span class="align-middle" th:text="${gene.name}"></span></td>
            <td class="text-center" th:if="${viewOnly != null}"><span th:text="${gene.tier}"
                                                                      th:remove="tag"></span>
            </td>
            <td class="text-center" th:if="${viewOnly == null}">
                <input name="primary" type="checkbox" class="align-middle"
                       th:checked="${gene.tier == T(ubc.pavlab.rdp.model.enums.TierType).TIER1}"/>
            </td>
            <td class="text-center">
                <span th:if="${viewOnly != null}"
                      th:text="${gene.getEffectivePrivacyLevel().getLabel()}" th:remove="tag">...</span>
                <span th:if="${viewOnly != null and gene.getPrivacyLevel() == null}">(inherited from profile)</span>
                <select th:if="${viewOnly == null}"
                        name="privacyLevel" class="form-control">
                    <option value="">Inherited from profile (<span th:text="${defaultPrivacyLevel.getLabel()}">...</span>)</option>
                    <option th:each="privacyLevel : ${T(ubc.pavlab.rdp.model.enums.PrivacyLevelType).values()}"
                            th:if="${@privacyService.isPrivacyLevelEnabled(privacyLevel) and (privacyLevel.ordinal() le defaultPrivacyLevel.ordinal())}"
                            th:value="${privacyLevel.ordinal()}"
                            th:selected="${privacyLevel == gene.privacyLevel}"
                            th:text="${privacyLevel.getLabel()}"></option>
                </select>
            </td>
        </tr>
    </th:block>
    </tbody>
    <tfoot th:if="${viewOnly != null}">
    <tr>
        <td colspan="3">

        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>