<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<table th:id="${viewOnly == null} ? 'gene-table' : ''" class="gene-table table table-sm mb-0" th:fragment="gene-table (genes)">
    <thead class="thead-light">
    <tr>
        <th scope="col">Symbol</th>
        <th scope="col" style="display: none;">Id</th>
        <th scope="col">Name</th>
        <th class="text-center" scope="col">Primary</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="gene : ${genes}">
        <tr>
            <td><span class="align-middle"><i th:if="${viewOnly == null}" class="delete-row align-middle"/><a
                    th:href="'https://www.ncbi.nlm.nih.gov/gene/' + ${gene.id}"
                    target="_blank" class="align-middle" th:text="${gene.symbol}"></a></span></td>
            <td style="display: none;"><span th:text="${gene.id}" th:remove="tag"></span></td>
            <td><span class="align-middle" th:text="${gene.name}"></span></td>
            <td class="text-center"><input type="checkbox" class="align-middle" th:disabled="${viewOnly != null}"
                                           th:checked="${gene.tier == T(ubc.pavlab.rdp.model.enums.TierType).TIER1}"/>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>