<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table th:fragment="gene-table (genes)"
       th:id="${viewOnly == null} ? 'gene-table' : ''"
       class="gene-table table table-sm">
    <thead class="thead-light">
    <tr>
        <th scope="col">Symbol</th>
        <th scope="col" class="d-none" th:if="${viewOnly == null}">Id</th>
        <th scope="col">Name</th>
        <th th:if="${@applicationSettings.enabledTiers.contains(T(ubc.pavlab.rdp.model.enums.TierType).TIER1)} and ${@applicationSettings.enabledTiers.contains(T(ubc.pavlab.rdp.model.enums.TierType).TIER2)}"
            class="text-center"
            scope="col"
            data-toggle="tooltip"
            th:title="${viewOnly} == null ? 'Primary genes constitute your TIER1 genes whereas non-primary genes will be part of your TIER2 genes.' : 'Tier determines the degree of involvment of a researcher with a gene.'">
            <span th:text="${viewOnly == null} ? 'Primary' : 'Tier'"></span>
            <i class="tip oi oi-question-mark"></i>
        </th>
        <th th:if="${viewOnly == null} and ${@applicationSettings.privacy.customizableGeneLevel}"
            class="text-center"
            scope="col"
            data-toggle="tooltip"
            title="Privacy level determines who can see this gene in a search result.">
            Privacy Level
            <i class="tip oi oi-question-mark"></i>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="gene : ${genes}">
        <td class="align-middle">
            <i th:if="${viewOnly == null}" class="delete-row align-middle"></i>
            <a th:href="@{https://www.ncbi.nlm.nih.gov/gene/{geneId}(geneId=${gene.geneId})}"
               th:text="${gene.symbol}"
               target="_blank"
               class="align-middle"></a>
        </td>
        <td th:if="${viewOnly == null}"
            th:text="${gene.geneId}"
            style="display: none;">
        </td>
        <td class="align-middle" th:text="${gene.name}"></td>
        <th:block
                th:if="${@applicationSettings.enabledTiers.contains(T(ubc.pavlab.rdp.model.enums.TierType).TIER1)} and ${@applicationSettings.enabledTiers.contains(T(ubc.pavlab.rdp.model.enums.TierType).TIER2)}">
            <td class="text-center" th:if="${viewOnly == null}">
                <input name="primary" type="checkbox" class="align-middle"
                       th:checked="${gene.tier == T(ubc.pavlab.rdp.model.enums.TierType).TIER1}"/>
            </td>
            <td th:if="${viewOnly != null}"
                th:text="${gene.tier}"
                class="text-center"></td>
        </th:block>
        <td th:if="${viewOnly == null} and ${@applicationSettings.privacy.isCustomizableGeneLevel()}"
            class="text-center">
            <select name="privacyLevel" class="form-control">
                <option th:each="privacyLevel : ${T(ubc.pavlab.rdp.model.enums.PrivacyLevelType).values()}"
                        th:if="${@privacyService.isGenePrivacyLevelEnabled(privacyLevel) and (privacyLevel.ordinal() le defaultPrivacyLevel.ordinal())}"
                        th:value="${privacyLevel.ordinal()}"
                        th:selected="${gene.effectivePrivacyLevel == privacyLevel}"
                        th:text="#{'PrivacyLevelType.' + ${privacyLevel.name()}}"></option>
            </select>
        </td>
    </tr>
    </tbody>
    <tfoot th:if="${viewOnly != null}">
    <tr>
        <td colspan="3"></td>
    </tr>
    </tfoot>
</table>
</body>
</html>