<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection is applied even when there is no user logged in-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:style="'background-image:url(\'' + @{/images/header.jpg} + '\'); background-size: cover;'"
     class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" th:href="@{/user/home}" href="/">
            <div th:utext="#{rdp.site.logohtml}" th:remove="tag"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" th:if="${user != null}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/home}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/profile}" href="/user/profile">Profile</a>
                </li>
                <li class="nav-item dropdown">
                    <!--suppress HtmlUnknownTarget -->
                    <a class="nav-link dropdown-toggle" href="/user/model" id="navbarDropdownModel" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Model Organisms</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownModel">
                        <th:block th:each="taxon : ${@taxonService.findByActiveTrue()}">
                            <a class="dropdown-item text-capitalize"
                               th:classappend="(${user != null }and ${user.hasTaxon(taxon)}) ? 'hastaxon' : ''"
                               th:href="@{'/user/model/' + ${taxon.id}}" th:text="${taxon.commonName} " href="#"></a>
                        </th:block>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/documentation}" href="/user/documentation">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/faq}" href="/user/faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/support}" href="/user/support">Contact</a>
                </li>
                <li class="nav-item" th:if="
            ${@applicationSettings.getPrivacy().isPublicSearch()} or
            (${@applicationSettings.getPrivacy().isRegisteredSearch()} and ${user != null} ) or
            (${user != null} and ${user.getRoles().contains(@roleRepository.findByRole('ROLE_ADMIN'))} )
            ">
                    <a class="nav-link" th:href="@{/search}" href="/search">Search</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto" th:if="${user == null}"></ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown" th:if="${user != null}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span th:text="${@userService.getCurrentUserName()}"/>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                        <a class="dropdown-item" th:href="@{/user/password}" href="/user/password">Change Password</a>
                        <a class="dropdown-item" th:href="@{/logout}" href="/logout">Logout</a>
                    </div>
                </li>
                <li class="nav-item" th:if="${user == null}">
                    <a class="nav-link" th:href="@{/login}" href="/login">Login &amp; Registration</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
