<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="confirmation(target, title, body)">
    <div class="modal fade" th:id="${target}" tabindex="-1" role="alertdialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" th:text="${title}"></h4>
                </div>
                <div class="modal-body">
                    <p th:text="${body}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary confirm mr-auto">Yes, I understand</button>
                    <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>