<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="term-display(ontology, selectedTerms, termsHaveIcons)">
    <div th:classappend="${termsHaveIcons} ? 'row'">
        <div th:each="term : ${ontology.terms}"
             th:classappend="${termsHaveIcons} ? 'col-3 col-md-2 col-lg-1'"
             data-toggle="tooltip"
             th:title="${term.hasIcon} ? #{'rdp.ontologies.' + ${ontology.name} + '.terms.' + ${term.name} + '.title'}">
            <div th:if="${term.group}">
                <h5 th:unless="${termsHaveIcons}"
                    th:text="#{'rdp.ontologies.' + ${ontology.name} + '.terms.' + ${term.name} + '.title'}"></h5>
                <!-- we only display a single layer of sub-terms -->
                <th:block th:each="subTerm, i : ${term.subTerms}">
                    <span th:text="#{'rdp.ontologies.' + ${ontology.name} + '.terms.' + ${subTerm.name} + '.title'}"></span><span th:unless="${i.last}">,</span>
                </th:block>
            </div>
            <th:block th:unless="${term.group}">
                <img th:if="${term.hasIcon}"
                     th:src="@{/images/ontologies/{ontologyName}/{termName}.svg(ontologyName=${ontology.name},termName=${term.name})}"
                     class="img-fluid d-block"/>
                <th:block th:unless="${term.hasIcon}">
                    <!-- generate a simple textual icon -->
                    <th:block th:if="${termsHaveIcons}">
                        <span th:replace="fragments/ontology::textual-icon(term = ${term})"></span>
                    </th:block>
                    <span th:unless="${termsHaveIcons}"
                          th:text="#{'rdp.ontologies.' + ${ontology.name} + '.terms.' + ${term.name} + '.title'}"></span>
                </th:block>
            </th:block>
        </div>
    </div>
</div>
<div th:fragment="all-terms-selection">
    <select class="form-control"
            id="ontologyTerms"
            name="ontologyTerms" multiple="multiple">
        <optgroup th:each="ontology: ${@ontologyService.findAllOntologies()}"
                  th:label="#{'rdp.ontologies.' + ${ontology.name} + '.title'}">
            <option th:each="term : ${ontology.terms}"
                    th:text="#{'rdp.ontologies.'+${ontology.name}+'.terms.' + ${term.name} + '.title'}"
                    th:value="${term.name}"/>
        </optgroup>
    </select>
</div>
<svg th:fragment="textual-icon(term)"
     width="100%"
     viewbox="0 0 100 100">
    <rect x="0" y="0" width="100" height="100" fill="none" stroke="black"
          stroke-width="2"></rect>
    <text th:text="#{'rdp.ontologies.' + ${term.ontology.name} + '.terms.' + ${term.name} + '.title'}"
          x="50%"
          y="50%" text-anchor="middle" dominant-baseline="middle"/>
</svg>
</body>
</html>