<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="terms-display(ontology, selectedTerms)">
    <div th:if="${ontology.terms.size()} lt 20"
         th:classappend="${@ontologyService.hasIcons(ontology)} ? 'row'">
        <div th:each="term : ${ontology.terms}"
             th:if="${term.superTerms.isEmpty()} and (${term.group} or ${@ontologyService.termIsIn(term, selectedTerms)})"
             th:classappend="${@ontologyService.hasIcons(ontology)} ? 'col-3 col-md-2 col-lg-1'"
             data-toggle="tooltip"
             th:title="${term.hasIcon} ? #{'rdp.ontologies.' + ${ontology.name} + '.terms.' + ${term.name} + '.title'}">
            <div th:if="${term.group}">
                <h5 th:text="${#messages.msgOrNull('rdp.ontologies.' + ontology.name + '.terms.' + term.name + '.title') ?: term.name}"></h5>
                <!-- we only display a single layer of sub-terms -->
                <p th:with="selectedSubTerms=${@ontologyService.onlyTermsIn(term.subTerms, selectedTerms)}">
                    <th:block th:each="subTerm, i : ${selectedSubTerms}">
                        <span th:text="${#messages.msgOrNull('rdp.ontologies.' + ontology.name + '.terms.' + subTerm.name + '.title') ?: subTerm.name}"></span><span
                            th:if="${i.last}">.</span><span th:unless="${i.last}">,</span>
                    </th:block>
                </p>
            </div>
            <th:block th:unless="${term.group}">
                <img th:if="${term.hasIcon}"
                     th:src="@{/images/ontologies/{ontologyName}/{termName}.svg(ontologyName=${ontology.name},termName=${term.name})}"
                     th:alt="${term.definition}"
                     class="img-fluid d-block"
                     alt="The term definition that describes the icon."/>
                <th:block th:unless=" ${term.hasIcon}">
                    <!-- generate a simple textual icon -->
                    <th:block th:if="${@ontologyService.hasIcons(ontology)}">
                        <span th:replace="fragments/ontology::textual-icon(term = ${term})"></span>
                    </th:block>
                    <span th:unless="${@ontologyService.hasIcons(ontology)}"
                          th:text="${#messages.msgOrNull('rdp.ontologies.' + ontology.name + '.terms.' + term.name + '.title') ?: term.name}"></span>
                </th:block>
            </th:block>
        </div>
    </div>
    <div th:unless="${ontology.terms.size()} lt 20">
        <table class="table ontology-term-table">
            <thead>
            <tr>
                <th>Term ID</th>
                <th>Term Name</th>
                <th>Term Definition</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="term : ${selectedTerms}">
                <td>
                    <a th:href="#{'rdp.ontologies.' + ${term.ontology.name} + '.view-term-url-pattern'(${term.ontology.name}, ${term.termId})}"
                       th:text="${term.termId}"
                       target="_blank"
                       rel="noopener"></a>
                </td>
                <td th:text="${term.name}"></td>
                <td th:text="${term.termInfo?.definition}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:fragment="all-terms-selection">
    <select class="form-control"
            id="ontologyTermIds"
            name="ontologyTermIds" multiple="multiple">
        <optgroup th:each="ontology: ${@ontologyService.findAllOntologies()}"
                  th:if="${ontology.terms.size()} lt 20"
                  th:label="#{'rdp.ontologies.' + ${ontology.name} + '.title'}"
                  label="">
            <option th:each="term : ${ontology.terms}"
                    th:text="#{'rdp.ontologies.'+${ontology.name}+'.terms.' + ${term.name} + '.title'}"
                    th:value="${term.name}"/>
        </optgroup>
    </select>
</div>
<div th:fragment="terms-selection(ontology, selectedTerms)">
    <div th:if="${ontology.terms.size()} lt 20"
         th:classappend="${@ontologyService.hasIcons(ontology)} ? 'form-row'">
        <div th:each="term : ${ontology.terms}" class="form-group"
             th:if="${term.superTerms.isEmpty()}"
             th:classappend="${@ontologyService.hasIcons(ontology)} ? 'col-3 col-md-2 col-lg-1'">

            <!-- grouping term -->
            <div th:if="${term.group}">
                <h5 th:unless="${@ontologyService.hasIcons(ontology)}"
                    th:text="${#messages.msgOrNull('rdp.ontologies.' + ontology.name + '.terms.' + term.name + '.title') ?: term.name}"></h5>
                <div class="form-row">
                    <div th:each="subTerm: ${term.subTerms}"
                         th:if="${subTerm.active}"
                         th:class="${term.name == 'gene-centric' ? 'col-1' : 'col-2'}">
                        <div class="form-check-inline">
                            <input type="checkbox"
                                   th:id="${#ids.seq('ontologyTermIds')}"
                                   name="ontologyTermIds"
                                   th:attr="data-ontology-id=${ontology.id}"
                                   th:value="${subTerm.id}"
                                   th:checked="${@ontologyService.termIsIn(subTerm, selectedTerms)}"
                                   class="form-check-input"/>
                            <label class="form-check-label"
                                   th:text="${#messages.msgOrNull('rdp.ontologies.' + ontology.name + '.terms.' + subTerm.name + '.title') ?: subTerm.name}"
                                   th:for="${#ids.prev('ontologyTermIds')}"
                            ></label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- non-grouping term -->
            <th:block th:unless="${term.group}">
                <div th:if="${term.active}"
                     class="form-check"
                     data-toggle="tooltip"
                     th:title="${term.hasIcon} ? #{'rdp.ontologies.' + ${ontology.name} + '.terms.' + ${term.name} + '.title'}">
                    <input type="checkbox"
                           th:id="${ontology.id} + '-' + ${term.id}"
                           name="ontologyTermIds"
                           th:attr="data-ontology-id=${ontology.id}"
                           th:value="${term.id}"
                           th:checked="${@ontologyService.termIsIn(term, selectedTerms)}"
                           class="form-check-input"/>
                    <label th:for="${ontology.id} + '-' + ${term.id}"
                           class="form-check-label">
                        <img th:if="${term.hasIcon}"
                             th:src="@{/images/ontologies/{ontologyName}/{termName}.svg(ontologyName=${ontology.name},termName=${term.name})}"
                             th:alt="${term.definition}"
                             class="img-fluid d-block"
                             alt="The term definition that describes its icon."/>
                        <th:block th:unless="${term.hasIcon}">
                            <!-- generate a simple textual icon -->
                            <th:block th:if="${@ontologyService.hasIcons(ontology)}">
                                <span th:replace="fragments/ontology::textual-icon(term = ${term})"></span>
                            </th:block>
                            <span th:unless="${@ontologyService.hasIcons(ontology)}"
                                  th:text="${#messages.msgOrNull('rdp.ontologies.' + ontology.name + '.terms.' + term.name + '.title') ?: term.name}"></span>
                        </th:block>
                    </label>
                </div>
            </th:block>
        </div>
    </div>
    <div th:unless="${ontology.terms.size()} lt 20">
        <table th:id="${#ids.seq('ontologyTermTable')}" class="table ontology-term-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Term ID</th>
                <th>Name</th>
                <th>Definition</th>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="term : ${selectedTerms}">
                <td th:text="${term.termInfo.id}"></td>
                <td th:text="${term.termId}"></td>
                <td th:text="${term.name}"></td>
                <td th:text="${term.termInfo?.definition}"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <input class="form-control term-autocomplete"
               th:placeholder="'Terms in ' + ${ontology.name}"
               th:attr="data-ontology-id=${ontology.id},data-for-table=${#ids.prev('ontologyTermTable')}"/>
    </div>
</div>
<div th:fragment="terms-autocomplete-selection(selectedTerms)">
    <span th:each="term : ${selectedTerms}"
          th:object="${term}"
          class="badge badge-primary mb-1">
        <span th:text="${term.name}" class="align-middle my-auto"></span>
        <button class="close" type="button">&times;</button>
        <input type="hidden" th:name="ontologyTermInfoIds" th:value="*{id}"/>
    </span>
    <input th:id="${#ids.seq('ontologyTermIds')}" class="form-control term-autocomplete" placeholder="Terms"/>
</div>
<svg th:fragment="textual-icon(term)"
     width="100%"
     viewbox="0 0 100 100">
    <rect x="0" y="0" width="100" height="100" fill="none" stroke="black"
          stroke-width="2"></rect>
    <text th:text="${#messages.msgOrNull('rdp.ontologies.' + term.ontology.name + '.terms.' + term.name + '.title') ?: term.name}"
          x="50%"
          y="50%" text-anchor="middle" dominant-baseline="middle"/>
</svg>
<form th:fragment="simple-ontology-form(ontology, simpleOntologyForm)"
      th:action="${ontology != null} ? @{/admin/ontologies/{ontologyId}/update-simple-ontology(ontologyId=${ontology.id})} : @{/admin/ontologies/create-simple-ontology}"
      th:object="${simpleOntologyForm}"
      method="post"
      id="simple-ontology-form">
    <div class="form-row mb-2">
        <div class="col">
            <div class="form-group">
                <label>Ontology Name</label>
                <input class="form-control"
                       th:field="*{ontologyName}"
                       th:errorclass="is-invalid"
                       placeholder="Ontology name"/>
                <div th:errors="*{ontologyName}" class="invalid-feedback"></div>
            </div>
            <div class="form-group mb-0">
                <label>Ordering (leave empty to use alphabetic order)</label>
                <input class="form-control"
                       type="number"
                       th:field="*{ordering}"
                       th:errorclass="is-invalid"
                       placeholder="1, 2, 3, ..."/>
                <div th:errors="*{ordering}" class="invalid-feedback"></div>
            </div>
        </div>
    </div>
    <div class="form-row d-none d-lg-flex">
        <div class="col-lg">
            <label>Term ID</label><br/>
        </div>
        <div class="col-lg ">
            <label>Term Name</label><br/>
        </div>
        <div class="col-lg"></div>
        <div class="col-lg"></div>
        <div class="col-lg"></div>
    </div>
    <div th:each="term, i : ${simpleOntologyForm.ontologyTerms}"
         class="form-row mt-1 ontology-term-row" draggable="true">

        <div class="col-sm-12 col-lg my-auto">
            <label th:for="'ontologyTerms' + ${i.index} + '.termId'" class="mb-0">
                <h4 th:text="*{ontologyTerms[__${i.index}__].termId}" class="d-lg-none ontology-term-id"></h4>
                <span th:text="*{ontologyTerms[__${i.index}__].termId}"
                      class="d-none d-lg-inline-block ontology-term-id"></span>
            </label>
            <input type="hidden"
                   th:field="*{ontologyTerms[__${i.index}__].termId}"
                   class="form-control"
                   th:errorclass="is-invalid"/>
            <div class="invalid-feedback" th:errors="*{ontologyTerms[__${i.index}__].termId}"></div>
        </div>

        <div class="col-sm-6 col-lg">
            <label th:for="'ontologyTerms' + ${i.index} + '.name'"
                   class="d-lg-none">Term Name</label>
            <input type="text"
                   th:field="*{ontologyTerms[__${i.index}__].name}"
                   th:errorclass="is-invalid"
                   class="form-control"/>
            <div class="invalid-feedback" th:errors="*{ontologyTerms[__${i.index}__].name}"></div>
        </div>

        <div class="col-sm-6 col-lg my-auto">
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       th:field="*{ontologyTerms[__${i.index}__].grouping}"
                       th:errorclass="is-invalid"/>
                <label th:for="'ontologyTerms' + ${i.index} + '.grouping1'" class="form-check-label">
                    Is grouping?
                </label>
                <div class="invalid-feedback" th:errors="*{ontologyTerms[__${i.index}__].grouping}"></div>
            </div>
        </div>
        <div class="col-sm-6 col-lg my-auto">
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       th:field="*{ontologyTerms[__${i.index}__].hasIcon}" th:errorclass="is-invalid"/>
                <label th:for="'ontologyTerms' + ${i.index} + '.hasIcon1'"
                       class="form-check-label">
                    Has icon?
                </label>
                <div class="invalid-feedback" th:errors="*{ontologyTerms[__${i.index}__].hasIcon}"></div>
            </div>
        </div>
        <div class="col-sm-6 col-lg my-auto">
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       th:field="*{ontologyTerms[__${i.index}__].active}" th:errorclass="is-invalid"/>
                <label th:for="'ontologyTerms' + ${i.index} + '.active1'"
                       class="form-check-label">
                    Is active?
                </label>
                <div class="invalid-feedback" th:errors="*{ontologyTerms[__${i.index}__].active}"></div>
            </div>
        </div>
        <div class="col-md-auto my-auto d-none d-lg-block">
            <!--<i class="oi oi-move"></i>-->
            <button type="button" class="close text-danger remove-ontology-term-row">&times;</button>
        </div>
    </div>
    <!-- feedback row for all terms -->
    <div class="form-row">
        <div class="col-lg col-sm-6">
            <small th:errors="*{ontologyTerms}" class="text-danger"></small>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col">
            <button type="submit" class="btn btn-primary" th:text="${ontology} != null ? 'Update' : 'Create'"></button>
            <button class="btn btn-neutral add-ontology-term-row-btn">Add Row</button>
        </div>
    </div>
</form>
</body>
</html>