<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="organs-selection">
    <div class="form-row">
        <div th:each="organInfo, iter : ${@organInfoService.findByActiveTrueOrderByOrdering()}"
             class="form-group col-3 col-md-2 col-lg-1">
            <div class="form-check">
                <input type="checkbox"
                       name="organUberonIds"
                       th:id="${#ids.seq('organUberonIds')}"
                       th:value="${organInfo.uberonId}"
                       th:checked="${checkedOrganUberonIds != null} and ${#lists.contains(checkedOrganUberonIds, organInfo.uberonId)}"
                       th:disabled="${readonly != null and readonly}"
                       class="form-check-input"/>
                <label th:for="${#ids.prev('organUberonIds')}"
                       data-toggle="tooltip"
                       th:title="${@messageSource.getMessage(organInfo.resolvableTitle, #locale)}"
                       class="form-check-label">
                    <img th:src="@{/images/organs/{uberonId}.svg(uberonId=${organInfo.uberonId})}"
                         th:alt="${@messageSource.getMessage(organInfo.resolvableTitle, #locale)}"
                         class="img-fluid"/>
                </label>
            </div>
        </div>
    </div>
</div>
<div th:fragment="organs" class="row">
    <div th:each="organInfo, iter : ${@organInfoService.findByActiveTrueOrderByOrdering()}"
         th:if="${#lists.contains(checkedOrganUberonIds, organInfo.uberonId)}"
         class="col-3 col-md-2 col-lg-1"
         data-toggle="tooltip"
         th:title="${@messageSource.getMessage(organInfo.resolvableTitle, #locale)}">
        <img th:src="@{/images/organs/{uberonId}.svg(uberonId=${organInfo.uberonId})}"
             th:alt="${@messageSource.getMessage(organInfo.resolvableTitle, #locale)}"
             class="img-fluid"/>
    </div>
</div>
</body>
</html>