<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection java variables not visible in fragments-->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Orthologs mapped -->
<div th:fragment="ortholog-table (orthologs)">
    <th:block th:each="entry, iterOrtholog : ${orthologs}">
        <span th:if="${iterOrtholog.first}">
          Showing results for the specified human gene and the following orthologs:
        </span>
        <span th:text="${@messageSource.getMessage(entry.key.resolvableTitle, #locale)}"></span>
        <th:block th:each="orthologGene, iterGene : ${entry.value}"><th:block th:if="${iterGene.first}">(</th:block><a th:href="@{https://www.ncbi.nlm.nih.gov/gene/{geneId}(geneId=${orthologGene.geneId})}" th:text="${orthologGene.symbol}" target="_blank" rel="noopener"></a><th:block th:if="${!iterGene.last}">, </th:block><th:block th:if="${iterGene.last}">)</th:block></th:block><span th:text="${iterOrtholog.last} ? '.' : ','"></span>
    </th:block>
</div>
</body>
</html>
