<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection java variables not visible in fragments-->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<ul th:fragment="stats (data)">
    <li><span th:text="${data.uniqueUserGenes}" th:remove="tag"></span>&nbsp;<span class="label">genes researched by</span></li>
    <li><span th:text="${data.users}" th:remove="tag"></span>&nbsp;<span class="label">researchers on following organisms:</span></li>
    <!--suppress HtmlUnknownTag browsers render this better-->
    <ul th:each="instance : ${data.researchersByTaxa}">
        <li><span th:text="${instance.key}"></span> (<span th:text="${instance.value}"></span> researchers)</li>
    </ul>
</ul>
</body>
</html>