<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<table th:id="${viewOnly == null} ? 'term-table' : ''" class="term-table table table-sm mb-0" th:fragment="term-table (userTerms)">
    <thead class="thead-light">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Aspect</th>
        <th scope="col">Overlap</th>
        <th scope="col">Size</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="ut : ${userTerms}">
        <tr>
            <td><span class="align-middle">
                <i th:if="${viewOnly == null}" class="delete-row align-middle"/><a th:href="'http://www.ebi.ac.uk/QuickGO/GTerm?id=' + ${ut.id}"
                   target="_blank" th:text="${ut.id}" class="align-middle"
                    data-toggle="tooltip" th:title="${ut.definition}"></a></span></td>
            <td><span class="align-middle" th:text="${ut.name}"></span></td>
            <td><span class="align-middle" th:text="${ut.aspect.label}"></span></td>
            <td><a href="#" class="align-middle overlap-show-modal" data-toggle="modal" data-target="#overlapModal" th:text="${ut.frequency}"></a></td>
            <td><span class="align-middle" th:text="${ut.size}"></span></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>