<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<table th:id="${viewOnly == null} ? 'term-table' : ''" class="term-table table table-sm"
       th:fragment="term-table (userTerms)">
    <thead class="thead-light">
    <tr>
        <th scope="col">Term</th>
        <th scope="col">Name</th>
        <th scope="col">Aspect</th>
        <th scope="col"
            data-toggle="tooltip"
            title="Number of times genes associated to a term appear in your TIER1 or TIER2 genes.">
            Overlap
            <i class="tip oi oi-question-mark"></i>
        </th>
        <th scope="col"
            data-toggle="tooltip"
            title="Number of genes associated to a term.">
            Size
            <i class="tip oi oi-question-mark"></i>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ut : ${userTerms}">
        <td class="align-middle">
            <i th:if="${viewOnly == null}" class="delete-row align-middle"/>
            <a th:href="@{http://www.ebi.ac.uk/QuickGO/GTerm(id=${ut.goId})}"
               th:text="${ut.goId}"
               target="_blank"
               rel="noopener"
               class="align-middle"
               data-toggle="tooltip"
               th:title="${ut.definition}"></a>
        </td>
        <td class="align-middle" th:text="${ut.name}"></td>
        <td class="align-middle" th:text="#{'Aspect.' + ${ut.aspect.name()}}"></td>
        <td>
            <a href="#"
               class="align-middle overlap-show-modal"
               data-toggle="modal"
               data-target="#overlapModal"
               th:text="${ut.frequency}"></a>
        </td>
        <td class="align-middle" th:text="${ut.size}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>