<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<table class="user-table table table-sm mb-0" th:fragment="user-table (users)">
    <thead class="thead-light">
    <tr>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Organization</th>
        <th scope="col">Department</th>
        <th scope="col">Website</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(users)}">
        <td colspan="6">No Users Found</td>
    </tr>
    <th:block th:each="u : ${users}" th:if="${not #lists.isEmpty(users)}">
        <tr>
            <td><a th:href="@{'/user/' + ${u.id} + '/profile'}" th:text="${u.email}" target="_blank"></a></td>
            <td><span th:text="${u.profile.name}" th:remove="tag"></span></td>
            <td><span th:text="${u.profile.lastName}" th:remove="tag"></span></td>
            <td><span th:text="${u.profile.organization}" th:remove="tag"></span></td>
            <td><span th:text="${u.profile.department}" th:remove="tag"></span></td>
            <td><a th:href="${u.profile.website}" th:text="${u.profile.website}"></a></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>