<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection java variables not visible in fragments-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<!-- User table -->
<table th:fragment="user-table (users, remote)"
       class="user-table table table-sm">
    <thead class="thead-light">
    <tr>
        <th></th>
        <th th:if="${remote}" scope="col">Origin</th>
        <th scope="col">Email</th>
        <th scope="col">Full Name</th>
        <th scope="col">
            <span th:unless="${@applicationSettings.profile.enabledResearcherPositions.isEmpty()}">Position and</span>
            Organization
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u : ${users}">
        <th:block>
            <td class="text-center">
                <a th:if="${remote}"
                   th:href="@{/userView/{userId}(userId=${u.id},remoteHost=${u.originUrl})}"
                   class="btn btn-primary btn-sm">
                    View User Profile
                </a>
                <a th:if="${remote == null}"
                   th:href="@{/userView/{userId}(userId=${u.id})}" class="btn btn-primary btn-sm">
                    View User Profile
                </a>
            </td>
            <td th:if="${remote}" th:text="${u.origin}"></td>
            <td><a th:href="'mailto:' + ${u.email}" th:text="${u.email}"></a></td>
            <td th:text="${u.profile.fullName}"></td>
            <td>
                <span th:text="${u.profile.researcherPosition?.label}"></span>
                <span th:if="${u.profile.researcherPosition} != null and ${u.profile.organization} != ''">at</span>
                <span th:text="${u.profile.organization}"></span>
            </td>
        </th:block>
    </tr>
    <tr th:if="${#lists.isEmpty(users)}" class="table-warning">
        <td class="text-center" th:colspan="100">No users found matching the provided search criteria.</td>
    </tr>
    </tbody>
</table>

<table class="user-table table table-sm mb-0" th:fragment="usergenes-table (usergenes, remote)">
    <tr th:each="map : ${mapsList}">
        <td colspan="100" th:each="mapEntry : ${map}">
            <span th:text="${mapEntry.key}"></span>
            <span th:text="${mapEntry.value}"></span>
        </td>
    </tr>

    <!-- User genes -->
    <thead class="thead-light">
    <tr>
        <th scope="col"></th>
        <th th:if="${remote}" scope="col">Origin</th>
        <th scope="col">Email</th>
        <th scope="col">Full Name</th>
        <th scope="col">
            <span th:unless="${@applicationSettings.profile.enabledResearcherPositions.isEmpty()}">Position and</span>
            Organization
        </th>
        <th scope="col">Gene</th>
        <th scope="col">Tier</th>
        <th scope="col">Organism</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ug : ${usergenes}">
        <th:block>
            <td class="text-center">
                <a th:if="${remote}"
                   th:href="@{/userView/{userId}(userId=${ug.user.id},remoteHost=${ug.user.originUrl})}"
                   class="btn btn-primary btn-sm">
                    View User Profile
                </a>
                <a th:if="${remote == null}"
                   th:href="@{/userView/{userId}(userId=${ug.user.id})}" class="btn btn-primary btn-sm">
                    View User Profile
                </a>
            </td>
            <td th:if="${remote}"><span th:text="${ug.user.origin}" th:remove="tag"></span></td>
            <td><a th:href="'mailto:' + ${ug.user.email}" th:text="${ug.user.email}"></a></td>
            <td th:text="${ug.user.profile.fullName}"></td>
            <td>
                <span th:text="${ug.user.profile.researcherPosition?.label}"></span>
                <span th:if="${ug.user.profile.researcherPosition} != null and ${ug.user.profile.organization} != ''">at</span>
                <span th:text="${ug.user.profile.organization}"></span>
            </td>
        </th:block>
        <td th:text="${ug.symbol}"></td>
        <td th:text="${ug.tier}"></td>
        <td th:text="${#strings.capitalizeWords(ug.taxon.commonName)}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(usergenes)}" class="table-warning">
        <td class="text-center warning" th:colspan="100">No user genes found matching the provided search criteria.</td>
    </tr>
    </tbody>
</table>
</body>
</html>