@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

div.brand > p {
    color: $light;
    margin-bottom: 0;
    font-size: 0.7rem;
}

div.brand > h1 {
    color: $white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

.table td, .table th {
    vertical-align: middle;
}

.footer {
    /* height: 60px; */
    /* line-height: 60px; */
    background-color: $light;
}

@media (min-width: 576px) {
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 49px;
    }
    body {
        /* Margin bottom by footer height */
        margin-bottom: 49px;
    }
}

.editbtn {
    cursor: pointer;
}

[contenteditable="true"] {
    outline: $orange auto 5px;
}

.editable:before {
    position: relative;
    top: 1px;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
    speak: none;
    font-family: Icons, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $orange;
    content: '\e0a3';
}

textarea.data-edit {
    height: 100%;
    width: 100%;
    resize: none;
}

.data-edit:disabled {
    border-color: transparent;
    background: transparent;
}

.saveable:before {
    color: $green;
    content: '\e033';
}

.add-row {
    cursor: pointer;
}

.research-info .data-edit {
    overflow-y: auto;
}

@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    height: 1em;
    line-height: 1;
    animation: anim-rotate 1.5s infinite linear;
}

.spinner:before {
    /*top: -7px;*/
    /*content: '\e007';*/
    content: '\e0b3';
    position: relative;
    display: inline-block;
    speak: none;
    font-family: Icons, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

}

.hastaxon:after {
    position: relative;
    font-size: 0.8em;
    margin-left: 5px;
    top: 1px;
    cursor: pointer;
    display: inline-block;
    speak: none;
    font-family: Icons, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $green;
    content: '\e094';
}

.validation-message {
    font-style: normal;
    font-size: 12px;
    color: #FF1C19;
}

/* Fix duplicate scroll icons on datatable with scrollY enabled*/
.dataTables_scrollBody thead {
    visibility: hidden;
}

/* Fixed header scrollable table */

table.table-fixed tr {
    width: 100%;
    display: inline-table;
    /*height:60px;*/
    table-layout: fixed;

}

table.table-fixed {
    height: 220px;
    display: -moz-groupbox;
}

table.table-fixed tbody {
    overflow-y: scroll;
    height: 200px;
    /*width: 100%;*/
    position: absolute;
}

.tip {
    font-size: x-small !important;
    background: cornflowerblue;
    color: whitesmoke;
    width: 16px;
    height: 16px;
    margin-left: 6px;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5em;
}

.section {
    width: 600px;
    margin-bottom: 15px;
}

.pubmed-error:before {
    content: "Issue obtaining metadata.";
    color: $danger;
}

input.data-edit {
    width: 90%;
    text-overflow: ellipsis;
}

#privacy-levels .radio {
    margin: 12px 0 0 12px;
}

#privacy-levels .radio input {
    margin-right: 3px;
}

.margin-chbox div {
    margin: 0 12px 12px 14px;
}

hr {
    margin: 0 0 10px;
}

.tip {
    margin-top: -4px;
}

.input-group {
    width: 99%;
}

.isearch-settings, .form-group.row {
    margin-left: 0 !important;
    padding-left: 12px;
    padding-right: 12px;
}

.isearch-settings * {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: center;

    margin: 0 0 7px;
    padding: 0;
}

.isearch-settings .label-text {
    position: relative;
    bottom: 1px;
}

.isearch-settings #isearch-checkbox {
    transform: scale(1.2);
    padding: 0;
}

.text-right {
    text-align: right;
}

.tab-content {
    /*
    padding-top: 21px;
    margin-top: -1px;
    border: lightgray 1px solid;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: none;
    */
}

/*
#gene-search-btn{
    margin-left: 4px;
    margin-right: -4px;
}

#ortholog-box{
    margin-top: -17px;
}

.ortholog-select{
    margin-left: -2px;
}
*/

#alpha-grp button:active, #alpha-grp button.active, .input-group-prepend button[type='submit'] {
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: whitesmoke;
}

/*
.tab-content h5{
    margin-left: 12px;
}
*/

.hide {
    height: 0 !important;
    display: none;
}

.ortholog-search-text {
    font-style: italic;
    color: steelblue;
}

.gene-error:before {
    content: "Could Not Find Gene.";
    color: $danger;
}

.term-error:before {
    content: "Could Not Find Term.";
    color: $danger;
}

.ontology-term-definition {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.search > .search-section:nth-child(even) {
    background: $light;
}

.search > .search-section:nth-child(odd) {
    background: $white;
}

/* dropdown menus should appear above sticky elements, I have frankly no idea why Bootstrap do that */
.dropdown-menu {
    z-index: $zindex-sticky + 1;
}

/* jQuery UI autocomplete widget should appear above the sticky top bar */
.ui-autocomplete {
    z-index: $zindex-sticky + 1;
}