html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

div.brand > p {
    color: lightgrey;
    margin-bottom: 0;
    font-size: 0.7rem;
}

div.brand > h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

.table td, .table th {
    vertical-align: middle;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.editbtn {
    cursor: pointer;
}

[contenteditable="true"] {
    outline: rgb(241, 132, 88) auto 5px;
}

.editable:before {
    position: relative;
    top: 1px;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
    speak: none;
    font-family: Icons, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: orange;
    content: '\e0a3';
}

textarea.data-edit {
    height: 100%;
    width: 100%;
    resize: none;
}

.data-edit:disabled {
    border-color: transparent;
    background: transparent;
}

.saveable:before {
    color: limegreen;
    content: '\e033';
}

.delete-row {
    pointer-events: none;
    font-size: 0.8em;
}

.delete-row:before {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    speak: none;
    font-family: Icons, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: red;
    content: '\e0db';
    pointer-events: all;
}

.add-row {
    cursor: pointer;
}

.research-info .data-edit {
    overflow-y: auto;
}

tr.new-row {
    background-color: #d7ffc4;
}

@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    height: 1em;
    line-height: 1;
    animation: anim-rotate 1.5s infinite linear;
}

.spinner:before {
    /*top: -7px;*/
    /*content: '\e007';*/
    content: '\e0b3';
    position: relative;
    display: inline-block;
    speak: none;
    font-family: Icons, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

}

.hastaxon:after {
    position: relative;
    font-size: 0.8em;
    margin-left: 5px;
    top: 1px;
    cursor: pointer;
    display: inline-block;
    speak: none;
    font-family: Icons, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: limegreen;
    content: '\e094';
}

.validation-message {
    font-style: normal;
    font-size: 12px;
    color: #FF1C19;
}

/* Fix duplicate scroll icons on datatable with scrollY enabled*/
.dataTables_scrollBody thead {
    visibility: hidden;
}

/* Fixed header scrollable table */

table.table-fixed tr {
    width: 100%;
    display: inline-table;
    /*height:60px;*/
    table-layout: fixed;

}

table.table-fixed {
    height:220px;
    display: -moz-groupbox;
}
table.table-fixed tbody{
    overflow-y: scroll;
    height: 200px;
    /*width: 100%;*/
    position: absolute;
}

.tip{
    font-size: x-small !important;
    background: cornflowerblue;
    color: whitesmoke;
    width: 16px;
    height: 16px;
    margin-left: 6px;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5em;
}