.section {
    width: 600px;
    margin-bottom: 15px;
}

.pubmed-error:before {
    content: "Issue obtaining metadata.";
    color: red;
}

input.data-edit {
    width: 90%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#privacy-levels .radio{
    margin: 12px 0 0 12px;
}

#privacy-levels .radio input{
    margin-right: 3px;
}

.margin-chbox div{
    margin: 0 12px 12px 14px;
}

hr{
    margin: 0 0 10px;
}

.tip{
    margin-top: -4px;
}
