.input-group{
    width: 99%;
}

.isearch-settings, .form-group.row {
    margin-left: 0 !important;
    padding-left: 12px;
    padding-right: 12px;
}

.isearch-settings *{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: center;

    margin: 0 0 7px;
    padding: 0;
}

.isearch-settings .label-text{
    position: relative;
    bottom: 1px;
}

.isearch-settings #isearch-checkbox{
    transform: scale(1.2);
    padding: 0;
}

.text-right{
    text-align: right;
}

.tab-content{
    padding-top: 21px;
    margin-top: -1px;
    border: lightgray 1px solid;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: none;
}

#ortholog-box{
    margin-top: -40px;
    margin-left: 20px;
}

#ortholog-box span{
    padding-left: 0;
}

#alpha-grp button:active, #alpha-grp button.active, .input-group-prepend button[type='submit'] {
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: whitesmoke;
}

.tab-content h5{
    margin-left: 12px;
}