<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="layouts/login::head(title='Reset Password')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>

<body>

<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="container py-4">
        <h4 class="form-signin-heading"><a th:href="@{/login}" th:text="#{rdp.site.fullname}"></a></h4>
        <h6 class="form-signin-subheading">Researcher Registry</h6>

        <form th:action="@{/forgotPassword}" method="POST" class="py-3">

            <div class="form-group row justify-content-center" th:if="${message}" >
                <div th:class="${error} ? 'alert alert-danger' : 'alert alert-info'" th:text="${message}"></div>
            </div>

            <div class="form-group row">
                <div class="offset-1 col-10">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" th:placeholder="Email" class="form-control py-2"/>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-1 col-10">
                    <button class="btn btn-primary btn-block" name="Submit" value="Reset Password" type="Submit">Reset Password</button>
                </div>
            </div>

            <div class="row">
                <div class="col-5 offset-1 text-center">
                    <a th:href="@{/login}">Return to login</a>
                </div>
                <div class="col-5 text-center">
                    <a th:href="'mailto:' + #{rdp.site.contact-email}">Contact Support</a>
                </div>
            </div>
        </form>
    </div>

</div>
<div th:replace="layouts/login::scripts"></div>
</body>
</html>
