<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{rdp.site.fullname}"></title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<body>

<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="container">
        <h4 class="form-signin-heading"><a th:href="@{/login}" th:text="#{rdp.site.fullname}"></a></h4>
        <h6 class="form-signin-subheading">Researcher Registry</h6>

        <form th:action="@{/forgotPassword}" method="POST" class="py-3">

            <div class="form-group row justify-content-center" th:if="${message}" >
                <div th:class="${error} ? 'alert alert-danger' : 'alert alert-info'" th:text="${message}"></div>
            </div>

            <div class="form-group row">
                <div class="offset-1 col-10">
                    <input type="text" id="email" name="email" th:placeholder="Email" class="form-control py-2"/>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-1 col-10">
                    <button class="btn btn-primary btn-block" name="Submit" value="Reset Password" type="Submit">Reset Password</button>
                </div>
            </div>

            <div class="form-group row">
            </div>

            <div class="form-group row">
                <div class="col-4 text-left">
                    <a th:href="@{/login}">Return to login</a>
                </div>
                <div class="offset-4 col-4 text-right">
                    <a th:href="'mailto:' + #{rdp.site.contact-email}">Contact Support</a>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>
