<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="layouts/common::head(title='Match')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>
<body>
<div th:replace="layout/common::header">...</div>
<div class="container py-4">
    <div th:replace="layout/common::title(title='Request a match', subtitle='Researchers &amp; genes')"
         th:remove="tag">...
    </div>
    <section class="my-3">
        <p>
            This is just a prototype of action to get in touch with
            <b th:text="${hiddenUser.profile.name}"></b>
            <b th:text="${hiddenUser.profile.lastName}"></b> (note that we would not display this information...).
        </p>
        <p>Note that the URL does not reveal the user identifier.</p>
        <div th:if="${hiddenUserGene}">
            This request is mediated by the following gene:
            <b th:text="${hiddenUserGene.symbol}"></b>.
        </div>
    </section>
    <section class="my-3">
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" type="text"/>
                </div>
                <div class="form-group col-md-4">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" class="form-control" type="text"/>
                </div>
                <div class="form-group col-md-4">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" type="email"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="moreAboutYourself">Tell us more about yourself</label>
                    <textarea id="moreAboutYourself" class="form-control"></textarea>
                </div>
            </div>
            <button class="btn btn-primary">Request a match</button>
        </form>
    </section>
    <section class="my-3">
        <p>For registered users, we can prefill with the profile information, or avoid having a form at all.</p>
    </section>
</div>
<div th:replace="layout/common::footer">...</div>
<div th:replace="layouts/common::scripts"></div>
</body>
</html>