<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="layouts/login::head(title='Registration')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>

<body>
<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="container py-4">
        <h4 class="form-signin-heading"><a th:href="@{/login}" th:text="#{rdp.site.fullname}"></a></h4>
        <h6 class="form-signin-subheading">Researcher Registry</h6>
        <div th:replace="layouts/login::message"></div>
        <form th:action="@{/registration}" th:object="${user}" method="POST">
            <div class="form-row">
                <div class="form-group offset-md-1 col-md-5">
                    <label th:for="${#ids.next('profile.name')}">Name</label>
                    <input type="text" th:field="*{profile.name}" placeholder="Name" class="form-control"
                           th:classappend="${#fields.hasErrors('profile.name')} ? 'is-invalid'"/>
                    <div class="invalid-feedback" th:errors="*{profile.name}"/>
                </div>
                <div class="form-group col-md-5">
                    <label th:for="${#ids.next('profile.lastName')}">Last Name</label>
                    <input type="text" th:field="*{profile.lastName}" placeholder="Last Name" class="form-control"
                           th:classappend="${#fields.hasErrors('profile.lastName')} ? 'is-invalid'"/>
                    <div class="invalid-feedback" th:errors="*{profile.lastName}"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group offset-md-1 col-md-10">
                    <label th:for="${#ids.next('email')}">Email</label>
                    <input type="text" th:field="*{email}" placeholder="Email" class="form-control"
                           th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"/>
                    <div class="invalid-feedback" th:errors="*{email}"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group offset-md-1 col-md-10">
                    <label th:for="${#ids.next('password')}">Password</label>
                    <input type="password" th:field="*{password}" placeholder="Password" class="form-control"
                           th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"/>
                    <div class="invalid-feedback" th:errors="*{password}"></div>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-md-1 col-md-4">
                    <button class="btn btn-primary btn-block"
                            name="Submit"
                            value="Register User"
                            type="Submit"
                            th:text="Register">
                        Register
                    </button>
                </div>
            </div>

            <div th:replace="layouts/login::actions"></div>

        </form>
    </div>
</div>
<div th:replace="layouts/login::scripts"></div>
</body>
</html>