<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="layouts/login::head(title='Confirm Registration')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>
<body>
<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="container py-4">
        <div th:replace="layouts/login::header"></div>
        <div th:replace="layouts/login::message"></div>
        <div th:replace="layouts/login::actions(showCreateAccount = false, showPublicSearch = false, showLogin = true, showForgotPassword = true)"></div>
    </div>
</div>
<div th:replace="layouts/login::scripts"></div>
</body>
</html>