<!DOCTYPE html>
<!--suppress HtmlUnknownTarget css and js folders not recognised after build-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="layouts/common::head(title='Search')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>

<body>

<div th:replace="layouts/common::header">...</div>

<div class="container py-4">
    <div th:replace="layouts/common::title(title='Search', subtitle='Researchers, Organs Systems &amp; Genes')">
        ...
    </div>

    <p class="lead my-3" th:text="#{rdp.site.welcome-public}"/>

    <ul class="nav nav-tabs mt-3">
        <li class="nav-item"><a class="nav-link active" id="gene-tab" data-toggle="tab"
                                href="#gene-search">Genes</a></li>
        <li class="nav-item"><a class="nav-link" id="res-tab" data-toggle="tab"
                                href="#user-search-name">Researchers</a></li>
    </ul>

    <div class="tab-content border-left border-right border-bottom p-3 mb-3">
        <!--Genes-->
        <div id="gene-search" role="tabpanel" aria-labelledby="gene-tab"
             class="tab-pane fade show active">
            <form>
                <div class="form-row">
                    <div class="col-md-9">
                        <label for="symbolInput">Search for researchers that study the following organism-specific
                            gene:</label>
                    </div>
                    <div class="col-md-3" th:if="${@applicationSettings.enabledTiers.size()} > 1">
                        <label for="tiers">Within the following tiers:</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary pull-right" type="submit"
                                        id="gene-search-btn"
                                        title="Look for researchers that focus on the specified gene.">
                                    Search
                                </button>
                            </div>
                            <input type="text" class="form-control gene-autocomplete" id="symbolInput"
                                   name="symbol"
                                   placeholder="Symbol" title="Gene official symbol to look for"/>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <select id="taxonId" name="taxonId" class="custom-select"
                                title="Taxon to run primary search on">
                            <th:block th:each="taxon : ${@taxonService.findByActiveTrue()}">
                                <option th:value="${taxon.id}"
                                        th:text="${#strings.capitalizeWords(taxon.commonName)}"
                                        th:selected="${taxon.id == 9606}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group col-md-3"
                         th:style="${@applicationSettings.enabledTiers.size()} > 1 ? '' : 'display: none;'">
                        <select id="tiers"
                                class="form-control selectpicker"
                                name="tiers"
                                title="Show any tier, or specific tiers"
                                multiple="multiple">
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <option th:each="tier : ${T(ubc.pavlab.rdp.model.enums.TierType).values()}"
                                    th:if="${@tierService.isTierEnabled(tier)}"
                                    th:value="${tier}"
                                    th:text="${tier.label}"></option>
                        </select>
                    </div>
                </div>
                <div id="ortholog-box" class="form-row">
                    <div class="form-group col-md-5 text-right">
                        <label class="col-form-label" for="ortholog-select">
                            In this model organism (based on ortholog mapping):
                        </label>
                    </div>
                    <div class="form-group col-md-4">
                        <select name="orthologTaxonId"
                                class="form-control custom-select ortholog-select"
                                id="ortholog-select"
                                title="Taxon to run primary search on">
                            <option th:value="null">All</option>
                            <th:block th:each="taxon : ${@taxonService.findByActiveTrue()}">
                                <option th:value="${taxon.id}"
                                        th:text="${#strings.capitalizeWords(taxon.commonName)}"
                                        th:selected="${taxon.id == 9606}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="col-form-label" for="ortholog-select">
                            <i class="tip oi oi-question-mark"
                               data-ot-background="cornflowerblue"
                               data-ot-border-color="white"
                               data-ot-shadow-color="lightgray"
                               data-ot="When a human gene is entered, you can search for researchers studying that gene's ortholog(s) in one or all of the supported model organisms">
                            </i>
                        </label>
                    </div>
                </div>
                <div th:unless="${@applicationSettings.profile.enabledResearcherCategories.isEmpty()}" class="form-row">
                    <div class="col-md-5">
                        <p class="text-right">
                            <label th:for="${#ids.next('researcherCategories')}" class="col-form-label">Within the
                                following researcher categories:</label>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div th:replace="fragments/profile::researcher-categories-selection"></div>
                        </div>
                    </div>
                </div>
                <div th:if="${@applicationSettings.organs.enabled}" class="form-row">
                    <div class="col-md-12">
                        <p>With focus on the following organ systems (or any of none are selected):</p>
                    </div>
                    <div class="col-md-12">
                        <div th:replace="fragments/organ::organs-selection"
                             th:remove="tag">
                            ...
                        </div>
                    </div>
                </div>
            </form>

        </div>

        <div id="user-search-name" role="tabpanel" aria-labelledby="res-tab" class="tab-pane fade">
            <!--Researchers alphabetically-->
            <div th:if="not ${chars.isEmpty()}" th:remove="tag">
                <div class="form-row">
                    <div class="col-md-12">
                        <label>Browse alphabetically:</label>
                        <div class="btn-toolbar">
                            <div class="btn-group" id="alpha-grp" role="group"
                                 title="Look for users whose name or last name starts with this letter.">
                                <ul class="pagination">
                                    <li th:each="char : ${chars}"
                                        class="page-item">
                                        <form>
                                            <input type="hidden" name="iSearch"/>
                                            <input type="hidden" name="prefix" value="true"/>
                                            <input type="hidden" name="nameLike" th:value="${char}"/>
                                            <button class="page-link" type="submit"
                                                    name="nameLikeBtn"
                                                    th:text="${char}"></button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Researchers by name-->
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="nameLike">Search by name:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="submit"
                                            title="Look for researchers whose name or last name contains this string.">
                                        Search
                                    </button>
                                </div>
                                <input type="text" class="form-control" name="nameLike" id="nameLike"
                                       placeholder="Part of researcher name"/>
                                <input type="hidden" name="iSearch"/>
                                <input type="hidden" name="prefix" value="false"/>
                            </div>
                        </div>
                    </div>
                </form>

                <!--Researchers by description-->
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="descriptionLike">Search by research interests:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="submit"
                                            title="Look for researches whose description contains these keywords.">
                                        Search
                                    </button>
                                </div>
                                <input type="text" class="form-control" name="descriptionLike" id="descriptionLike"
                                       placeholder="Keyword in research description"/>
                                <input type="hidden" name="iSearch"/>
                                <input type="hidden" name="prefix" value="false"/>
                            </div>
                        </div>
                    </div>
                </form>

                <div th:unless="${@applicationSettings.profile.enabledResearcherCategories.isEmpty()}">
                    <div class="form-row">
                        <div class="col-md-5">
                            <div class="form-group text-right">
                                <label th:for="${#ids.next('researcherCategories')}" class="col-form-label">Within the following researcher categories:</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div th:include="fragments/profile::researcher-categories-selection"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Researchers by focused organs -->
                <form th:if="${@applicationSettings.organs.enabled}">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>With focus on the following organ systems (or any of none are selected):</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div th:replace="fragments/organ::organs-selection">
                                ...
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <form th:if="${@applicationSettings.getIsearch().isEnabled()}" class="my-3">
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-check">
                    <input id="isearch-checkbox" type="checkbox" class="form-check-input"
                           th:checked="${@applicationSettings.getIsearch().isDefaultOn()}"/>
                    <label for="isearch-checkbox"
                           class="form-check-label">
                        Include results from partner registries
                        <i class="tip oi oi-question-mark"
                           data-ot-background="cornflowerblue"
                           data-ot-border-color="white"
                           data-ot-shadow-color="lightgray"
                           data-ot="If enabled, the search will include matches found in our partner registries">
                        </i>
                    </label>
                </div>
            </div>
        </div>
    </form>

    <hr/>

    <!--Orthologs -->
    <div id="orthologsResults" class="my-3">
        <div th:if="${orthologs != null} "
             th:replace="fragments/user-table :: ortholog-table(users=${users}, orthologs=${orthologs}, remote=false)"
             th:remove="tag">
            ...
        </div>
    </div>

    <!--Results-->
    <div class="my-3">
        <h4 th:text="'Researchers registered in ' + #{rdp.site.shortname}"></h4>
        <div id="userTable">
            <div th:if="${users != null}"
                 th:replace="fragments/user-table :: user-table(users=${users}, remote=false)"
                 th:remove="tag">
                ...
            </div>
        </div>
    </div>

    <!--International results-->
    <div id="itlResults" th:if="${@applicationSettings.getIsearch().isEnabled()}" class="my-3">
        <hr/>
        <h4>Partner registry results</h4>
        <div id="itlUserTable">
            <div th:if="${itlErrorMessage != null}" th:replace="fragments/error :: message" th:remove="tag">
                ...
            </div>
            <div th:if="${itlUsers != null}"
                 th:replace="fragments/user-table :: user-table(users=${itlUsers}, remote=true)"
                 th:remove="tag">...
            </div>
        </div>
    </div>
</div>

<div th:replace="layouts/common::footer">...</div>
<div th:replace="layouts/common::scripts"></div>
<script th:src="@{/js/search.js}"></script>
</body>
</html>
