<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="layouts/common::head(title='Terms of Service')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>
<body>
<div th:replace="layouts/common::header"></div>
<div class="container py-4">
    <div th:replace="layouts/common::title(title='Terms of Service')"></div>
    <div th:replace="layouts/common::messages"></div>
    <main id="main-content"
          th:utext="${termsOfService}">
    </main>
</div>
<div th:replace="layouts/common::footer"></div>
<div th:replace="layouts/common::scripts"></div>
</body>
</html>