<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="layouts/login::head(title='Update Password')">
    <meta charset="UTF-8"/>
    <title>...</title>
</head>

<body>

<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="container py-4">
        <h4 class="form-signin-heading"><a th:href="@{/login}" th:text="#{rdp.site.fullname}"></a></h4>
        <h6 class="form-signin-subheading">Researcher Registry</h6>

        <div th:replace="layouts/login::message"></div>

        <form th:action="@{/updatePassword(id=${userId}, token=${token})}" th:object="${passwordReset}" method="POST">

            <div class="form-group row" th:if="${error == null or error == ''}">
                <div class="offset-md-1 col-md-10">
                    <input type="password" th:field="*{newPassword}" placeholder="Password" class="form-control"/>
                    <label th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                           class="validation-message"></label>
                </div>
            </div>

            <div class="form-group row" th:if="${error == null or error == ''}">
                <div class="offset-md-1 col-md-10">
                    <input type="password" th:field="*{passwordConfirm}" placeholder="Confirm Password"
                           class="form-control"/>
                    <label th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"
                           class="validation-message"></label>
                </div>
            </div>

            <div class="form-group row" th:if="${error == null or error == ''}">
                <div class="offset-md-1 col-md-10">
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Update Password"
                            type="Submit">
                        Update Password
                    </button>
                </div>
            </div>

            <div class="form-group row" th:if="${error != null and error != ''}">
                <div class="offset-md-1 col-md-10 text-info text-center">
                    <div class="text-danger text-center" th:text="${error}"></div>
                </div>
            </div>

            <div th:replace="layouts/login::actions"></div>

        </form>
    </div>
</div>
<div th:replace="layouts/login::scripts"></div>
</body>
</html>
