<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${@siteSettings.getFullname()}"></title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>


    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"/>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>


    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/view.js}"></script>

</head>

<body>
<div th:replace="fragments/header">...</div>
<div class="container p-4">

    <div th:replace="fragments/title :: title(title='View Account', subtitle=${viewUser.email})" th:remove="tag">...</div>

    <div class="main-content p-4">
        <div class="row justify-content-center success-row" th:if="${viewUser.origin} != null">
            <div class="col my-3">
                <div class="alert alert-warning" role="alert">
                    This is a remote user registered at <a th:text="${viewUser.origin}" th:href="${viewUser.originUrl}" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center success-row" style="display: none;">
            <div class="col my-3">
                <div class="alert alert-success alert-dismissible fade show" role="alert">Profile Saved!
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center error-row" style="display: none;">
            <div class="col my-3">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">Error Saving Profile!
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col my-3">
                <div class="card basic-info">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h3 class="mb-0">Basic Information</h3>
                        </div>
                    </div>
                    <table class="table mb-0">
                        <tr class="edit-container">
                            <td class="align-middle" style="width: 120px;"><span class="text-muted align-middle">First Name</span></td>
                            <td>
                                <input class="data-edit" type="text" name="name" th:value="${viewUser.profile.name}" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Last Name</span></td>
                            <td>
                                <input class="data-edit" type="text" name="lastName" th:value="${viewUser.profile.lastName}" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Organization</span></td>
                            <td>
                                <input class="data-edit" type="text" name="organization" th:value="${viewUser.profile.organization}" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Department</span></td>
                            <td>
                                <input class="data-edit" type="text" name="department" th:value="${viewUser.profile.department}" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Website</span></td>
                            <td>
                                <input class="data-edit" type="text" name="website" th:value="${viewUser.profile.website}" disabled="disabled"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col my-3">
                <div class="card contact-info">
                    <div class="card-header">
                        <h3 class="mb-0">Contact Information</h3>
                    </div>
                    <table class="table mb-0">
                        <tr>
                            <td class="align-middle" style="width: 120px;"><span class="text-muted align-middle">Email</span></td>
                            <td><span th:text="${viewUser.email}" th:remove="tag"></span></td>
                        </tr>
                        <tr class="edit-container">
                            <td class="align-middle"><span class="text-muted align-middle">Phone</span></td>
                            <td>
                                <input class="data-edit" type="text" name="phone" th:value="${viewUser.profile.phone}" disabled="disabled"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="w-100"></div>

            <div class="col my-3">
                <div class="card research-info edit-container">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="mb-0 d-inline-block">About My Research</h3>
                    </div>
                    <div class="p-2" style="height: 120px;">
                        <textarea class="data-edit" name="description" th:text="${viewUser.profile.description}" disabled="disabled"></textarea>
                    </div>
                </div>
            </div>

            <div class="w-100"></div>

            <div class="col my-3" th:if="(${user} != null) and ${user.getRoles().contains(@roleRepository.findByRole('ROLE_ADMIN'))}">
                <div class="card">
                    <div class="card-header">
                        <h4>Data privacy</h4>
                        <div>Data privacy:
                            <b th:if="${viewUser.getProfile().privacyLevel} == 0">private.</b>
                            <b th:if="${viewUser.getProfile().privacyLevel} == 1">shared.</b>
                            <b th:if="${viewUser.getProfile().privacyLevel} == 2">public.</b>
                        </div>
                        <div>
                            International sharing:
                            <b th:if="${viewUser.getProfile().getHideGenelist()}">disabled.</b>
                            <b th:if="not ${viewUser.getProfile().getHideGenelist()}">enabled.</b>
                        </div>
                        <div th:if="${@applicationSettings.getPrivacy().isAllowHideGenelist()}">
                            International sharing of this users data is
                            <b th:if="${viewUser.getProfile().getShared()}">enabled.</b>
                            <b th:if="not ${viewUser.getProfile().getShared()}">disabled.</b>
                        </div>
                        <hr/>
                        <div>
                            To change your settings, please see the <b>Data privacy Settings</b> section in your <a th:href="@{/viewUser/profile}">profile settings.</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-100"></div>

            <div class="col my-3">
                <div class="card publication-info">
                    <div class="card-header">
                        <h3 class="mb-0">Publications</h3>
                    </div>
                    <table id="publication-table" class="table mb-0">
                        <thead class=".thead-light">
                        <tr>
                            <th scope="col">PubMed</th>
                            <th scope="col">Title</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="pub : ${viewUser.profile.publications}">
                            <tr>
                                <td><span th:text="${pub.pmid}" th:remove="tag"></span></td>
                                <td><a th:href="${'https://www.ncbi.nlm.nih.gov/pubmed/' + pub.pmid}" target="_blank" th:text="${pub.title != ''} ? ${pub.title} : 'Unknown Title'"></a></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <th:block th:each="taxon : ${viewUser.taxons}">
                    <div class="w-100"></div>

                    <div class="col my-3">
                        <div class="card research-info edit-container">
                            <div class="card-header d-flex align-items-center">
                                <h3 class="mb-0 d-inline-block text-capitalize"><span
                                        th:text="${taxon.commonName + ' Research Focus'}" th:remove="tag"></span></h3>
                            </div>
                            <div class="p-2" style="height: 80px;">
                                <textarea class="data-edit" name="description"
                                          th:text="${viewUser.taxonDescriptions.get(taxon)}" disabled="disabled"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="w-100"></div>

                    <div class="col my-3" th:if="
                    not ${viewUser.getProfile().getHideGenelist()}
                    or ((${user} != null) and ${user.getId() == viewUser.getId()})
                    or ((${user} != null) and ${user.getRoles().contains(@roleRepository.findByRole('ROLE_ADMIN'))})
                    ">
                        <div class="card">
                            <div class="card-header">
                                <!--<h3 class="mb-2 text-capitalize"><span th:text="${taxon.commonName}" th:remove="tag"></span></h3>-->
                                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active genes-tab" data-toggle="tab"
                                           th:href="${'#genes-' + taxon.id}" role="tab"
                                           aria-controls="profile" aria-selected="true">Genes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link terms-tab" data-toggle="tab"
                                           th:href="${'#terms-' + taxon.id}" role="tab"
                                           aria-controls="model"
                                           aria-selected="true">Terms</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" th:id="${'genes-' + taxon.id}"
                                         role="tabpanel">
                                        <div th:replace="fragments/gene-table :: gene-table(genes=${viewUser.getGenesByTaxon(taxon)})"
                                             th:remove="tag">...
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" th:id="${'terms-' + taxon.id}" role="tabpanel">

                                        <div th:replace="fragments/term-table :: term-table(userTerms=${viewUser.getTermsByTaxon(taxon)})"
                                             th:remove="tag">...
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            </th:block>



        </div>
    </div>

</div>

<div class="modal fade" id="overlapModal" tabindex="-1" role="dialog" aria-labelledby="overlapModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body pb-0">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>