/* Icon spinner http://jsfiddle.net/CBLPz/2/ */

.animate {
    animation-name: rotateThis;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation: rotateThis 0.5s infinite linear;    
    -webkit-animation: rotateThis 0.5s infinite linear;    
}

@keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 359deg ); }
}

@-webkit-keyframes rotateThis {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

/*Lighten placeholder text*/
.form-control::-moz-placeholder {
  color: #A9A9A9;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #A9A9A9;
}
.form-control::-webkit-input-placeholder {
  color: #A9A9A9;
}

.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
    color: red;
}